<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title><?php echo (Configure::read('Site.title'));?></title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
</head>
<body>
<div style="padding: 10px; width: 720px; margin: auto;">
<div style="vertical-align:middle; margin: 0 auto; text-align:center; color:#fff;">
			<img src="https://txtter.com/images/Icon-App-76x76@2x.png" alt="<?php echo (Configure::read('Site.title'));?>" style="color:#fff; font-size:20px; font-weight:bold;"/>
		</div>
<div style="width: 720px; text-align: center; margin: auto; padding: 20px 0px; background-repeat: no-repeat;">

<table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
	<tr>

		<td style="vertical-align:middle; font-family: 'Trebuchet MS';font-size: 15px; background:#fff;">
		<?php  echo ($content_for_layout);?> </td>
	</tr>

</table>
<br>
<table border="0" cellpadding="0" cellspacing="0" style="width:100%;">
	<tr>

		<td style="vertical-align:middle; font-family: 'Trebuchet MS';font-size: 15px; background:#fff;">
		<p style="text-align: cente;">Delivered by <a href="<?php echo Configure::read('App.SiteUrl'); ?>" style="color: rgb(9, 129, 190);" title="<?php echo Configure::read('Site.title'); ?>" target="_blank"><?php echo Configure::read('Site.title'); ?></a></p>
	</tr>

</table></div>

</div>
</body>
</html>
<?php //die;?>
