html {
 font-size: 100%;
 height: 100%;
 margin-bottom: 1px; /* Always show a scrollbar to avoid jumping when the scrollbar appears  */
 }

body {
 font-family: Arial, Helvetica, sans-serif;
 color: #555;
 background: #f0f0f0 url('../img/admin/bg-body.gif') top left repeat-y;
 font-size: 12px;
 }

#body-wrapper {
 background: url('../img/admin/bg-radial-gradient.gif') fixed 230px top no-repeat;
 }                

/********************************      Elements styling      ********************************/

h1, h2, h3, h4, h5, h6 {
 font-family: Helvetica, Arial, sans-serif;
 color: #222;
 font-weight: bold;
 }

h1            { font-family: Calibri, Helvetica, Arial, sans-serif; font-size: 31px; font-weight: bold; color: #fff; 
position: absolute; top: -1000px;  /* Remove this line and delete the logo (in the HTML) if you don't want an image as a logo */
}

h2            { font-size: 26px; padding: 0 0 10px 0; }
h3            { font-size: 17px; padding: 0 0 10px 0; }
h4            { font-size: 16px; padding: 0 0 5px 0; }
h5            { font-size: 14px; padding: 0 0 5px 0; }
h6            { font-size: 12px; padding: 0 0 5px 0; }


a              { color: #57a000; text-decoration: none; }
a:hover     { color: #000; }
a:active     { color: #777; }
a:focus     { outline: 1px; }

strong       { font-weight: bold; color: #333; }

small   		{ font-size: 0.85em; }

pre           { font-family: monospace; }

p {
 padding: 5px 0 10px 0;
 line-height: 1.6em;
 }

/********************************      General Classes      ********************************/

.clear {
 clear: both;
 }

.align-left {
 float: left;
 }

.align-right {
 float: right;
 }

/************ Button ************/
.button {
font-family: Verdana, Arial, sans-serif;
 display: inline-block;
 background: #459300 url('../img/admin/bg-button-green.gif') top left repeat-x !important;
 border: 1px solid #459300 !important;
 padding: 4px 7px 4px 7px !important;
 color: #fff !important;
 font-size: 11px !important;
 cursor: pointer;
 }
 a.button{
	display: inline;
	padding: 5px !important;
 }
.button:hover {
 text-decoration: underline;
 }
 
.button:active {
 padding: 5px 7px 3px 7px !important;
 }

a.remove-link {
color: #bb0000;
}

a.remove-link:hover {
color: #000;
}

/********************************      Sidebar      ********************************/

#sidebar {
 background: url('../img/admin/bg-sidebar.gif') top left no-repeat;
 width: 230px;
 height: 100%;
 position: absolute;
 left: 0;
 top: 0;
 color: #888;
 font-size: 11px;
 }

#sidebar #sidebar-wrapper {
 margin: 0 0 0 9px;
 }

#sidebar a,
#sidebar a:active {
 color:#ccc;
 }

#sidebar a:hover {
 color:#fff;
 }

#sidebar #sidebar-title {
 margin: 40px 0 40px 15px;
 }

#sidebar #logo {
 margin: 40px 0 40px 0;
 }

#sidebar #profile-links {
 padding: 0 15px 20px 15px;
 text-align: right;
 line-height: 1.5em;
 }

/************ Sidebar Accordion Menu ************/

#sidebar #main-nav {
 width: 206px;
 padding: 0;
 margin: 0 0 0 15px;
 font-family: Helvetica, Arial, sans-serif;
 }

#sidebar #main-nav li {
 list-style: none;
 padding-bottom: 10px;
 text-align: right;
 }

#sidebar #main-nav li a.nav-top-item {
 background: transparent url('../img/admin/bg-menu-item-green.gif') right center no-repeat; /* Background image for default color scheme - green */
 padding: 10px 15px;
 color: #fff;
 font-size: 14px;
 cursor: pointer;
 display: block;
 text-decoration: none;
 }

#sidebar #main-nav li a.current {
 background-image: url('../img/admin/bg-menu-item-current.gif') !important;
 color: #333;
 font-weight: bold;
 }
 
#sidebar #main-nav li a.current:hover {
 color: #333;
 }

#sidebar #main-nav ul {
 padding: 0;
 font-size: 12px;
 margin: 0;
 }

#sidebar #main-nav ul li {
 list-style: none;
 margin: 0;
 text-align: right;
padding: 0;
 }

#sidebar #main-nav ul li a {
 padding: 8px 15px;
 display: block;
 color: #aaa;
 font-size: 13px;
 line-height: 1.2em;
 }

#sidebar #main-nav ul li a:hover,
#sidebar #main-nav ul li a.current,
#sidebar #main-nav ul li a.current:hover {
 color: #fff;
 }

#sidebar #main-nav ul li a.current {
 background: transparent url('../img/admin/menu-current-arrow.gif') right center no-repeat !important;
 }


/************ Messages ************/

#messages p,
#messages form {
 border-top: 1px solid #ddd;
 padding: 10px 0;
 }

#messages h4 {
 padding: 10px 0;
 }

#messages fieldset {
 margin: 0;
 }

#messages textarea {
 margin: 0 0 15px 0;
 }
/********************************      Main Content      ********************************/

/************ Layout ************/

#main-content {
 margin: 0 30px 0 260px;
 padding: 40px 0 0 0;
 }

.column-left {
 width: 48%;
 float: left;
 }
 
.column-right {
 width: 48%;
 float: right;
 }

#page-intro {
 font-size: 17px;
 padding: 0 0 20px 0;
 }


#footer {
border-top: 1px solid #ccc;
margin: 40px 0 0 0;
padding: 20px 0;
font-size: 12px;
 }
/************ Lists ************/

#main-content ul,
#main-content ol {
 padding: 10px 0;
 }

/* Unordered List */

#main-content ul li {

 padding: 4px 0 4px 20px;
 }

/* Ordered List */

#main-content ol {
 padding: 0 0 0 24px;
 }

#main-content ol li {
 list-style: decimal;
 padding: 4px 0;
 }

/*************** Content Box ***************/

.content-box {
 border: 1px solid #ccc;
 margin: 0 0 20px 0;
 background: #fff;
 }

.content-box-header {
 background: #e5e5e5 url('../img/admin/bg-content-box.gif') top left repeat-x;
 margin-top: 1px;
 height: 40px;
 }

.content-box-header h3 {
 padding: 12px 15px 10px;
 float: left;
 }

ul.content-box-tabs {
 float: right;
 padding: 12px 15px 0 0 !important;
margin: 0 !important;
 }

ul.content-box-tabs li {
 float: left;
 margin: 0;
 padding: 0 !important;
 background-image: none !important;
 }
 
ul.content-box-tabs li a {
 color: #333;
 padding: 8px 10px;
 display: block;
 margin: 1px;
 border-bottom: 0;
 }

ul.content-box-tabs li a:hover {
 color: #57a000;
 }              
 
ul.content-box-tabs li a.current {
 background: #fff;
 border: 1px solid #ccc;
 border-bottom: 0;
 margin: 0;
 }

.content-box-content {
 padding: 20px;
 font-size: 13px;
 border-top: 1px solid #ccc;
 }
 
/************ Table ************/

#main-content table {
 width: 100%;
 border-collapse: collapse;
 }
 
#main-content table thead th {
 font-weight: bold;
 font-size: 15px;
 border-bottom: 1px solid #ddd;
 }
#main-content table thead th a.desc{
	background: url("../img/icons/arrow_large_down_outline.png") no-repeat scroll 100% 2px transparent;
	padding-right: 17px;
}
#main-content table thead th a.asc{
	background: url("../img/icons/arrow_large_up_outline.png") no-repeat scroll 100% 1px transparent;
	padding-right: 17px;
}
#main-content tbody {
 border-bottom: 1px solid #ddd;
 }
 
#main-content tbody tr {
 background: #fff;
 }

#main-content tbody tr.alt-row {
 background: #f3f3f3;
 }
 
#main-content table td,
#main-content table th {
 padding: 10px;
 line-height: 1.3em;
 }        

#main-content table tfoot td .bulk-actions {
 padding: 15px 0 5px 0;
 } 

#main-content table tfoot td .bulk-actions select {
 padding: 4px;
border: 1px solid #ccc;
 }      

/*************** Pagination ***************/

#main-content .pagination {
 text-align: right;
 padding: 20px 0 5px 0;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 10px;
 }
.pagination span a{
	padding: 3px 6px;
}
.pagination span {
 margin: 0 5px 0 0;
 padding: 3px 0px;
 }

.pagination span.number {
border: 1px solid #ddd;
 }

.pagination span.current {
 background: #469400 url('../img/admin/bg-button-green.gif') top left repeat-x !important;
 border-color: #459300 !important;
 color: #fff !important;
 padding: 3px 6px;
 }

.pagination span.current:hover {
text-decoration: underline;
 }

/************ Shortcut Buttons ************/

.shortcut-button {
 border: 1px solid #ccc;
 background: #f7f7f7 url('../img/admin/shortcut-button-bg.gif') top left no-repeat;
 display: block;
 width: 120px;
 margin: 0 0 20px 0;
 }

.shortcut-button span {
 border: 1px solid #fff;
 display:block;
 padding: 15px 10px 15px 10px;
 text-align: center;
 color: #555;
 font-size: 13px;
 line-height: 1.3em;
 }

.shortcut-button span img {
 margin-bottom: 10px;
 }
.shortcut-button span div {
	margin: 10px 0;
	font-size:24px;
}
.shortcut-button:hover {
 background: #fff;

 }

.shortcut-button span:hover {
color: #57a000; 
 }

ul.shortcut-buttons-set li {
 float: left;
 margin: 0 15px 0 0;
padding: 0 !important;
background: 0;
 }

/*************** Forms ***************/

form label {
 display: block;
 padding: 0 0 10px;
 font-weight: bold;
 }

form fieldset legend {
 font-weight: bold;
 margin-bottom: 10px;
 padding-top: 10px;
 }
 
form p small {
 font-size: 0.75em;
 color: #777;
 }


form input.text-input,
form select,
form textarea,
form .wysiwyg {
 padding: 6px;
 font-size: 13px;
 background: #fff url('../img/admin/bg-form-field.gif') top left repeat-x;
 border: 1px solid #d5d5d5;
color: #333;
 }

form .small-input {
 width: 25% !important;
 }
 
form .medium-input {
 width: 50% !important;
 }
 
form .large-input {
 width: 97.5% !important;
font-size: 16px !important;
padding: 8px !important;
 }
 
form textarea {
 width: 97.5% !important;
 font-family: Arial, Helvetica, sans-serif;
 }
 
form select {
 padding: 4px;
 background: #fff;
 }

form input[type="checkbox"],
form input[type="radio"] {
padding: 0;
 background: none;
border: 0;
 }
fieldset input[type="checkbox"], fieldset input[type="radio"]{
	float:left;
	margin-top:0px;
}
/*************** Notifications ***************/

.notification {
 position: relative;
 margin: 0 0 15px 0;
 padding: 0;
 border: 1px solid;
 background-position: 10px 11px !important;
 background-repeat: no-repeat !important;
 font-size: 13px;
 width: 99.8%;
 }
 

.attention {
 background: #fffbcc url('../img/admin/icons/exclamation.png') 10px 11px no-repeat;
 border-color: #e6db55;
 color: #666452;
 }

.information {
 background: #dbe3ff url('../img/admin/icons/information.png');
 border-color: #a2b4ee;
 color: #585b66;
 }

.success {
 background: #d5ffce url('../img/admin/icons/tick_circle.png');
 border-color: #9adf8f;
 color: #556652;
 }

.error {
 background: #ffcece url('../img/admin/icons/cross_circle.png') no-repeat;
 border-color: #df8f8f;
 color: #665252;
 }

.notification div {
 display:block;
 font-style:normal;
 padding: 10px 10px 10px 36px;
 line-height: 1.5em;
 }

.notification .close {
 color:#990000;
 font-size:9px;
 position:absolute;
 right:5px;
 top:5px;
 }

/* Notification for form inputs */

.input-notification {
background-position: left 2px;
background-repeat: no-repeat;
padding: 2px 0 2px 22px;
background-color: transparent;
margin: 0 0 0 5px;
float:right;
position:absolute;
}

/* Notification for login page */

#login-wrapper #login-content .notification {
border: 0;
background-color: #141414;
color: #fff !important;
}

/********************************      Login Page      ********************************/

body#login {
 color: #fff;
 background: #222 url('../img/admin/bg-login.gif');
}

#login-wrapper {
 background: url('../img/admin/bg-login-top.png') top left repeat-x;
}

#login-wrapper #login-top {
width: 100%;
padding: 85px 0 50px 0;
text-align: center;
}

#login-wrapper #login-content {
text-align: left;
width: 300px;
margin: 0 auto;
}

#login-wrapper #login-content label {
color: #fff;
font-weight: normal;
font-size: 14px;
font-family: Helvetica, Arial, sans-serif;
float: left;
width: 70px;
padding: 0;
}

#login-wrapper #login-content input {
width: 200px;
float: right;
margin: 0 0 20px 0;
border: 0;
background: #fff;
}

#login-wrapper #login-content p {
padding: 0;
}

#login-wrapper #login-content p#remember-password {
float: right;
}

#login-wrapper #login-content p#remember-password input {
float: none;
width: auto;
border: 0;
background: none;
margin: 0 10px 0 0;
}

#login-wrapper #login-content p .button {
width: auto;
margin-top: 20px;
}

#login-wrapper #login-top img {
    border-radius: 10px;
}
/********************************      jQuery plugins styles      ********************************/

/*************** Facebox ***************/

#facebox .b {
background:url(../img/admin/b.png);
}

#facebox .tl {
background:url(../img/admin/tl.png);
}

#facebox .tr {
background:url(../img/admin/tr.png);
}

#facebox .bl {
background:url(../img/admin/bl.png);
}

#facebox .br {
background:url(../img/admin/br.png);
}

#facebox {
position: absolute;
top: 0;
left: 0;
z-index: 100;
text-align: left;
}

#facebox .popup {
position: relative;
}

#facebox table {
border-collapse: collapse;
}

#facebox td {
border-bottom: 0;
padding: 0;
}

#facebox .body {
padding: 10px;
background: #fff;
width: 370px;
}

#facebox .loading {
text-align: center;
}

#facebox .image {
text-align: center;
}

#facebox img {
border: 0;
margin: 0;
}

#facebox .footer {
border-top: 1px solid #DDDDDD;
padding-top: 5px;
margin-top: 10px;
text-align: right;
}

#facebox .tl, #facebox .tr, #facebox .bl, #facebox .br {
height: 10px;
width: 10px;
overflow: hidden;
padding: 0;
}

#facebox_overlay {
position: fixed;
top: 0px;
left: 0px;
height:100%;
width:100%;
}

.facebox_hide {
z-index:-100;
}

.facebox_overlayBG {
background-color: #000;
z-index: 99;
}

/*************** jQuery WYSIWYG ***************/

div.wysiwyg { border: 1px solid #cccccc; padding: 5px; background-color: #ffffff; width: 97.5% !important; }
div.wysiwyg * { margin: 0; padding: 0; }

div.wysiwyg ul.panel { border-bottom: 1px solid #cccccc; float: left; width: 100%; padding: 0 0 5px 0; }
div.wysiwyg ul.panel li { list-style-type: none; float: left; margin: 0 2px; padding: 0 !important;  background: #ffffff; background-image: none !important;}
div.wysiwyg ul.panel li.separator { height: 16px; margin: 0 4px; border-left: 1px solid #cccccc; }
div.wysiwyg ul.panel li a { display: block; padding: 0 !important; width: 16px; height: 16px; background: url('../img/admin/icons/jquery.wysiwyg.gif') no-repeat -64px -80px; border: 0; cursor: pointer; padding: 1px; }
div.wysiwyg ul.panel li a:hover, div.wysiwyg ul.panel li a.active {  }
div.wysiwyg ul.panel li a.active { background-color: #f9f9f9; border: 1px solid #cccccc; border-left-color: #aaaaaa; border-top-color: #aaaaaa; padding: 0; }

div.wysiwyg ul.panel li a.bold { background-position: 0 -16px; }
div.wysiwyg ul.panel li a.italic { background-position: -16px -16px; }
div.wysiwyg ul.panel li a.strikeThrough { background-position: -32px -16px; }
div.wysiwyg ul.panel li a.underline { background-position: -48px -16px; }

div.wysiwyg ul.panel li a.justifyLeft { background-position: 0 0; }
div.wysiwyg ul.panel li a.justifyCenter { background-position: -16px 0; }
div.wysiwyg ul.panel li a.justifyRight { background-position: -32px 0; }
div.wysiwyg ul.panel li a.justifyFull { background-position: -48px 0; }

div.wysiwyg ul.panel li a.indent { background-position: -64px 0; }
div.wysiwyg ul.panel li a.outdent { background-position: -80px 0; }

div.wysiwyg ul.panel li a.subscript { background-position: -64px -16px; }
div.wysiwyg ul.panel li a.superscript { background-position: -80px -16px; }

div.wysiwyg ul.panel li a.undo { background-position: 0 -64px; }
div.wysiwyg ul.panel li a.redo { background-position: -16px -64px; }

div.wysiwyg ul.panel li a.insertOrderedList { background-position: -32px -48px; }
div.wysiwyg ul.panel li a.insertUnorderedList { background-position: -16px -48px; }
div.wysiwyg ul.panel li a.insertHorizontalRule { background-position: 0 -48px; }

div.wysiwyg ul.panel li a.h1 { background-position: 0 -32px; }
div.wysiwyg ul.panel li a.h2 { background-position: -16px -32px; }
div.wysiwyg ul.panel li a.h3 { background-position: -32px -32px; }
div.wysiwyg ul.panel li a.h4 { background-position: -48px -32px; }
div.wysiwyg ul.panel li a.h5 { background-position: -64px -32px; }
div.wysiwyg ul.panel li a.h6 { background-position: -80px -32px; }

div.wysiwyg ul.panel li a.cut { background-position: -32px -64px; }
div.wysiwyg ul.panel li a.copy { background-position: -48px -64px; }
div.wysiwyg ul.panel li a.paste { background-position: -64px -64px; }

div.wysiwyg ul.panel li a.increaseFontSize { background-position: -16px -80px; }
div.wysiwyg ul.panel li a.decreaseFontSize { background-position: -32px -80px; }

div.wysiwyg ul.panel li a.createLink { background-position: -80px -48px; }
div.wysiwyg ul.panel li a.insertImage { background-position: -80px -80px; }

div.wysiwyg ul.panel li a.html { background-position: -48px -48px; }
div.wysiwyg ul.panel li a.removeFormat { background-position: -80px -64px; }

div.wysiwyg ul.panel li a.empty { background-position: -64px -80px; }

div.wysiwyg iframe { border: 0; margin: 5px 0 0 0; clear: left; width: 97.5% !important; }


/***********random**********/
#page-loader{
	display:none;
	position:absolute;
	text-align:center;
	z-index:10;
}
#page-loader img{
	
	position:relative;
}
.cke_editor tbody tr{
	background:none!important;
}
.cke_editor tbody tr td{
	padding:0!important;
}

.lic_country{
	max-height:350px;
	overflow:auto;
	margin-bottom:10px;
}

.wordwrap { 
    
   white-space: -moz-pre-wrap; /* Firefox */    
   word-wrap: break-word;      /* IE */
	table-layout: inherit;    /*fixed*/
}
.error-message
	{
		background-color: transparent;
		background-position: left 2px;
		background-repeat: no-repeat;
		float: right;
		margin: 0 0 0 5px;
		padding: 2px 0 2px 22px;
		position: absolute;
		background: url("../img/admin/icons/cross_circle.png") no-repeat scroll 0 0;
		color: #665252;
	}
	
form select .small-input{
    width: 26.4% !important;
}






/***************Availability Css*****************/

.PostJobLFrm {
	width:100%;
	float:left;
	padding:5px 0 0 0;
	list-style-type:none;
	display:block;
	list-style:none;
}
.PostJobLFrm ul li {
	list-style-type:none;
	display:block;
	list-style:none;
}
.PostJobLFrm li {
	width:100%;
	float:left;
	padding:9px 0;
	list-style-type:none;
	display:block;
	list-style:none;
}
.PostJobLFrm li label {
	float:left;
	padding:0 0 5px 0;
	font:bold 14px Arial, Helvetica, sans-serif;
	color:#939393;
	width:100%;
}
.PostJobLFrm li p{
width:100%;
float:left;
padding:2px 0;
}
.PostJobLFrm li p a.Attachment{
float:left;
font:normal 12px Arial, Helvetica, sans-serif;
color:#0058A7;
}
.PostJobLFrm li p span.characters {
float:right;
font:normal 12px Arial, Helvetica, sans-serif;
color:#666;
width:375px;
}
.AvailabFrm {
	width:100%;
	float:left;
	padding:0 0 10px 0;
}
.AvailabFrm h3 {
	font:normal 14px Arial, Helvetica, sans-serif;
	color:#383838;
	padding:0 0 5px 0;
}
.Availability {
	width:99%;
	float:left;
	list-style-type:none;
	display:block;
}
.Availability li {
	background:url(../img/timeing_bg.png) no-repeat;
	width:308px;
	height:72px;
	float:left;
	list-style-type:none;
	display:block;
	margin:0 0 13px 0;
	list-style:none;
}
.Availability li.FloatRiT {
	float:right;
}
.Availability li label {
	width:302px;
	border-bottom:1px solid #e6e6e6;
	padding:6px 0 6px 6px;
	float:left;
}
.Availability li label input {
	float:left;
}
.Availability li label span {
	float:left;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#383838;
	padding:2px 0 0 3px;
}
.Timing {
	width:302px;
	padding:6px 0 0 6px;
	float:left;
}
.StartTime {
	width:153px;
	float:left;
}
.StartTime span {
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#383838;
	line-height:26px;
}
.StartTimeFild {
	width:72px;
	height:26px;
	border:1px solid #cccccc;
	padding:4px 5px;
	background:#fff;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#6f6f6f;
	line-height:18px;
	margin:0 0 0 4px;
}
.EndTime {
	width:138px;
	float:left;
}
.EndTime span {
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#383838;
	line-height:26px;
}

.AdSrhLeFrm {
	width:99%;
	float:left;
	list-style-type:none;
	display:block;
	padding:0 0 0 0;
}
.AdSrhLeFrm li {
	width:310px;
	float:left;
	list-style-type:none;
	display:block;
	padding:8px 0 8px;
}
.AdSrhLeFrm li.FloatRightF {
	float:right;
}
.AdSrhLeFrm li label {
	width:100%;
	float:left;
	font:normal 14px Arial, Helvetica, sans-serif;
	color:#383838;
	padding:0 0 5px 0;
}
.AdSrhLeFild {
	width:294px;
	height:18px;
	border:1px solid #cccccc;
	padding:4px 5px;
	background:#fff;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#6f6f6f;
	line-height:18px;
	margin:0 0 12px 0;
}
.AdSrhSeLeFild {
	width:304px;
	height:26px;
	border:1px solid #cccccc;
	padding:4px 5px;
	background:#fff;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#6f6f6f;
	line-height:18px;
	margin:0 0 12px 0;
}
/************************************************/

/************************25-07-13****************************/


.PrifileMid {
	width:100%;
	float:left;
	padding:15px 0 0;
}
.ProLeft {
	width:675px;
	float:left;
}
.ProLeftBox {
	width:666px;
	float:left;
	padding:0 0 25px 0;
}
.ProLeTBg {
	width:100%;
	float:left;
	background:url(../img/left_top_bg.png) no-repeat;
	height:5px;
}
.ProLeMBg {
	width:100%;
	float:left;
	background:#fff;
}
.ProLeBBg {
	width:100%;
	float:left;
	background:url(../img/left_botm_bg.png) no-repeat;
	height:5px;
}
.UserInfo {
	width:634px;
	float:left;
	padding:10px 16px;
}
.UserImg {
	float:left;
}
.UserImg img {
	background:#f7f7f7;
	padding:15px;
	margin:0 14px 0 0;
}
.UserTxt {
	width:415px;
	float:left;
}
.UserTxt h2 {
	font:normal 22px HelveticaCE-Regular;
	color:#005faf;
}
.UserTxt h3 {
	font:normal 16px Arial, Helvetica, sans-serif;
	color:#383838;
}
.UserTxt p {
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#8a9095;
	padding:4px 0;
}
.UserBtnRow {
	width:350px;
	float:none;
	padding:12px 0 0 0px;
}
.UserBtnRow span.RedBtnLeBg {
	background: url("../img/red_btn_left_bg.png") no-repeat scroll left center transparent;
	float: left;
	height: 24px;
	padding: 0 0 0 5px;
	margin:0 10px 0 0;
}
.UserBtnRow span.RedBtnLeBg:hover {
	background: url("../img/signup_left_over_cor.png") no-repeat scroll left center transparent;
}
.UserBtnRow span.RedBtnLeBg a.RedBtnRiBg {
	background: url("../img/red_btn_right_bg.png") no-repeat scroll right center transparent;
	color: #FFFFFF;
	float: left;
	font: bold 12px/24px Arial, Helvetica, sans-serif;
	height: 24px;
	padding: 0 18px 0 10px;
	text-decoration:none;
}
.UserBtnRow span.RedBtnLeBg:hover a.RedBtnRiBg {
	background: url("../img/signup_right_over_cor.png") no-repeat scroll right center transparent;
}
.TabProM {
	width:665px;
	float:left;
	list-style-type:none;
	display:block;
	border-bottom:1px solid #dcdcdc;
}
.TabProM li {
	margin:0 3px 0 0;
	float:left;
	list-style-type:none;
	display:block;
}
.TabProM li a {
	background:url(../img/tab_le_bg.png) no-repeat left top;
	height:30px;
	padding:0 0 0 5px;
	float:left;
	text-decoration:none;
}
.TabProM li a:hover {
	background:url(../img/tab_le_bg_h.png) no-repeat left top;
}
.TabProM li.Select a {
	background:url(../img/tab_le_bg_h.png) no-repeat left top;
}
.TabProM li a span {
	background:url(../img/tab_ri_bg.png) no-repeat right top;
	height:30px;
	float:left;
	padding:0 10px 0 5px;
	color:#222121;
	font:normal 14px HelveticaCE-Regular;
	line-height:30px;
}
.TabProM li a:hover span {
	background:url(../img/tab_ri_bg_h.png) no-repeat right top;
	color:#fff;
}
.TabProM li.Select a span {
	background:url(../img/tab_ri_bg_h.png) no-repeat right top;
	color:#fff;
}
.TabCon {
	width:100%;
	float:left;
	padding:10px 15px;
}
.TabCon p {
	padding:5px 0;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#383838;
	line-height:18px;
}
.ProMIdCon {
	width:100%;
	padding:0 1px;
	float:left;
}
.Objective {
	width:100%;
	float:left;
	padding:0 0 22px 0;
	margin:-3px 0 0 0;
}
.TiBgPro {
	background:url(../img/ti_bg_1.jpg) repeat-x bottom;
	padding:0 0 3px 0;
	width:100%;
	float:left;
}
.TiBgPro h2 {
	width:662px;
	float:left;
	background:url(../img/ti_bg_2.jpg) repeat-x;
	height:31px;
}
.TiBgPro h2 span {
	width:185px;
	float:left;
	background:url(../img/ti_bg.png) no-repeat left top;
	height:31px;
	color:#fff;
	font:normal 16px HelveticaCE-Regular;
	line-height:31px;
}
.TiBgPro h2 span img {
	padding:0 8px 0 10px;
	vertical-align:middle;
}
.content-box-header h3 { 
 font-size:13px;
 position:relative;
 float:left;
 }
.total
	{
	float:right;
	color:#fff;
	width:40%;
	padding:7px;
	}

.total .PagingTable table {
margin:0px 0 0;
background:none;
}
.totalDropdown{
float:right; 
padding-top:8px; 
padding-right:10px;
}
.total .PagingTable {
color:#FFFFFF;
float:right;
width:82%;
line-height:22px;
}
.total select{
float:right;
}

.total .PagingTable table td
	{
	border-top:0px solid #CCCCCC;
	padding:0px 0;
	}
        
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 15px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}