/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;padding:10px;background-color:#000;color:#fff;opacity:0.5;display:none;
filter:alpha(opacity=40); /* For IE8 and earlier */}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;;padding:10px;background-color:#000;color:#fff;opacity:0.5;display:none;
filter:alpha(opacity=40); /* For IE8 and earlier */}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{/*text-align: center; */   bottom: 6px; left: -6px !important; position: absolute; text-align: right;}
div#banner-slide ol.bjqs-markers li{display:inline; margin-top:0px;margin-right: 3px; !important}
ol.bjqs-markers li a{display:inline-block;background-color:#000;color:#fff;opacity:0.5;
filter:alpha(opacity=40);padding:3px;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}