.catList li{ margin-bottom: 5px; margin-top: 2px; background:url(../images/arrow2.png) 0 3px no-repeat; padding-left: 20px; font-weight:bold; }
.catList li a{ color: #3c3c3c; text-decoration: none; font-weight:normal;}
.catList li ul{ margin-left: 20px;}
.catList li ul li{ background: none; padding: 0;  list-style:square}
.catList li li li{list-style: circle;}
.catList ul ul ul{ margin:0px 20px 10px;}
.catList li li li li{ list-style:disc;}
.p20{ padding: 20px;}
span.instruction{ display:block; margin:-15px 0 10px 0; font-size:12px; }
.hauto{ min-height:auto !important;}

.catList li a.edit-cat-list{vertical-align: middle; margin-left: 5px; display: inline-block; height: 18px; background:url(../img/icons/pencil.png) 0 50% no-repeat; width: 18px;}
.catList li a.edit-ok{background:url(../img/icons/right-small.png) 0 50% no-repeat!important; background-size: 18px; width: 18px; height: 18px; display: inline-block;}
.catList li input[type="text"]{
    border: 1px solid #CCCCCC;
    padding-left: 10px;
    width: 150px !important;
}
.catList li a.edit-cat-child-list{vertical-align: middle; margin-left: 5px; display: inline-block; height: 18px; background:url(../img/icons/pencil.png) 0 50% no-repeat; width: 18px; background-size: 18px !important;}
.catList li span{font-weight: normal; color: #3c3c3c;}

.catList li a.delete-cat{vertical-align: middle; margin-left: 5px; display: inline-block; height: 18px; background:url(../img/icons/cross.gif) 0 50% no-repeat; width: 18px;}
.catList li span {
    cursor: pointer;
}
.catList li{ background: none; padding-left: 0;}
.catList li > span.cat-list-prt-ttl {
    background: url("../img/icons/plus2.png") no-repeat scroll 0 0px transparent;
    padding-left:20px;
}
.catList li.expand > span.cat-list-prt-ttl {
    background: url("../img/icons/neg2.png") no-repeat scroll 0 0px transparent;
}
.catList li ul{margin-left: 36px;}
.catList li a.add_subcat {
    background: url("../img/icons/icon_add2.png") no-repeat scroll 0 50% rgba(0, 0, 0, 0);
    display: inline-block;
    height: 18px;
    margin-left: 5px;
    vertical-align: middle;
    width: 18px;
}