/*
New Style Start
*/
/*--------form field----------*/
.frm-list {
border-bottom:#d9d9d9 1px solid;
box-shadow:0 1px 0 0 #fdfdfd;
padding-bottom:20px;
margin-bottom:20px;
}

.frm-list li {
margin-bottom:10px;
}

.frm-list li div.col2 {
display:inline-block;
width:300px;
margin-right:20px;
vertical-align:middle;
}

.ancher {
font-size:22px;
background:url(../img/ancher.png) 0 50% no-repeat;
padding-left:40px;
line-height:33px;
}

.frm-list li label {
display:block;
font-size:20px;
margin-bottom:5px;
}
.frm-list li label span{display: block; margin-bottom: 5px;}

.frm-list li label.label2 {
margin-bottom:10px;
font-size:16px;
}
.frm-list li.dist input{
    width: 100px;

}
.frm-list li.dist div{display: inline-block; width: 500px; margin-right: 10px;}

.frm-list li .sm {
display:inline-block;
width:100px;
margin-right:20px;
vertical-align: middle;
}

.frm-list li .md {
display:inline-block;
width:200px;
margin-right:20px;
vertical-align: middle;
}
.frm-list li .md input{
	width: 200px;
}

.frm-list li div.col2.box {
background:#fff;
border:#dbdbdb 1px solid;
height:50px;
line-height:50px;
padding:4px 0;
width:300px;
display:inline-block;
}

.frm-list li div.col2.box input[type="text"] {
padding:10px;
width:240px;
float:left;
border:0;
}

.frm-list li div.col2.box span {
float:left;
margin-left:4px;
}

.frm-list li div.col2.box span img {
vertical-align:top;
height:40px;
}

.frm-list li div.col2.box input[type="checkbox"] {
float:right;
margin:12px 10px 0;
}

.frm-list li .selected span {
color:#FE68FF;
}

.location-sec li {
margin-bottom:20px;
}

div.selector {
-moz-box-sizing:content-box;
cursor:pointer;
font-size:14px;
height:42px;
line-height:42px;
overflow:hidden;
padding:0 0 0 8px;
position:relative;
width:auto;
background:#EEE;
}

div.selector span {
background:url(../img/select.jpg) 100% 50% no-repeat;
color:#141414;
cursor:pointer;
display:block;
font-size:16px;
height:42px;
line-height:42px;
overflow:hidden;
padding:0 37px 0 2px;
text-overflow:ellipsis;
text-shadow:0 1px #F5F5F5;
white-space:nowrap;
font-family: "Roboto", arial, sans-serif;
}

div.selector select {
background:none;
border:1px solid #FFF;
font-size:14px;
height:40px;
left:0;
opacity:0;
position:absolute;
top:0;
width:100%;
}

.frm-list div.selector {
background:#fff;
border:#dbdbdb 1px solid;
height:49px;
line-height:49px;
}

.frm-list div.selector span {
height:50px;
line-height:50px;
background:url(../img/select2.png) 100% 50% no-repeat;
color: #000;
font-size: 15px;
font-weight: 400;
}

.frm-list div.selector select {
height:50px;
}

input[type="text"],input[type="password"] {
background:#fff;
border:#dbdbdb 1px solid;
padding:15px 10px;
font-size:16px;
color:#141414;
width:300px;
}

textarea {
background:#fff;
border:#dbdbdb 1px solid;
width:300px;
padding:10px;
height:150px;
}

/* Checkboxes */
div.checker {
width:20px;
height:20px;
position:relative;
display:0;
display:block;
vertical-align:middle;
zoom:1;
float:left;
margin-right:10px;
box-shadow:0 1px 0 #fff;
-webkit-box-shadow:0 1px 0 #fff;
-moz-box-shadow:0 1px 0 #fff;
}

div.checker input {
width:20px;
height:20px;
opacity:0;
filter:alpha(opacity:0);
display:inline-block;
background:none;
}

div.checker span {
background:url(../img/checkboxes.png) no-repeat 0 0;
height:20px;
width:20px;
display:0;
display:inline-block;
text-align:center;
}

div.checker span.checked {
background-position:0 -22px;
}

/* Radio buttons */
div.radio {
width:30px;
height:30px;
position:relative;
display:0;
display:block;
vertical-align:middle;
zoom:1;
float:left;
margin-top:2px;
margin-right:10px;
}

div.radio input {
width:30px;
height:30px;
opacity:0;
filter:alpha(opacity:0);
display:inline-block;
background:none;
}

div.radio span {
background:url(../img/radios.png) no-repeat 0 0;
height:30px;
width:30px;
display:0;
display:inline-block;
text-align:center;
}

div.radio span.checked {
background-position:0 -30px;
}


.selectpic .uploader {
    background:  #EEEEEE;    
    height: 42px;
    padding: 0 10px;
    position: relative;
}
div.uploader input {
    border: medium none;
    bottom: 0;
    cursor: pointer;
    float: right;
    height: 40px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 256px;
    cursor: pointer;
}
 .uploader {
    background: #EEEEEE;
    height: 42px;
    padding: 0;
    width: 350px;
    padding: 0 10px;
    display: inline-block;
    position: relative;
}
div.uploader span.filename {
    color: #353535;
    cursor: default;
    display: block;
    float: left;
    font-size: 14px;
    line-height: 42px;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
div.uploader span.action {
    background: url("../img/addFiles.png") no-repeat scroll 0 10px;
    cursor: pointer;
    display: inline;
    float: right;
    height: 35px;
    overflow: hidden;
    text-indent: -9999px;
    width: 22px;
    margin: 0;
    padding: 0;
}

.add-details input[type="text"]{ width: 625px;}
.add-details textarea{ width: 625px; color: #141414; font-size: 16px; font-weight: 400;}

.frm-list li div.col2.w500{ width: 624px;}
.frm-list li div.w500.box input[type="text"]{width: 510px !important;}
