/*
My Style Start
*/
.social-input {
    width: 215px !important;
}
.success {
    /*    color: #46C545;*/
}
.error {
    color: #ED2C3E;
	font-size:14px;
	margin-left:5px;
}
.form_response {
    position: absolute;
    top: -30px;
}
.loader {
    display: none;
    margin-left: 20px;
    margin-top: -40px;
    position: absolute;
}
.list1 li h3 span.rejected {
    color: #ED2C3E;
}
.ad-photo-uplaod {
    width: 250px;
    display: inline-block;
    margin: 0 20px 20px 0;
    position: relative;
    height: 40px;
}

.uplaod-ph{float: left; width: 300px;height: 0px;}
.uplaod-ph div.uploader span.filename{display: none !important;}
.uplaod-ph .action{margin: 0; padding: 0;}
.uplaod-ph .uploader{background: none;height: 124px; padding: 0; width: 124px;}
.uplaod-ph div.uploader span.action{height: 33px; background: url(../img/photos/add-photo.jpg) 0 0 no-repeat; width: 124px; height: 124px;}
.uplaod-ph div.uploader input{ width: 124px; height: 124px; left: 0;}

.msg-label {
    float: left;
    height: 20px;
    line-height: 20px;
    padding: 10px;
    width: 178px;
}
.uploaded_photo {
    display: block;
    height: 110px;
    overflow: hidden;
}
.img_loader {
    float: left;
    left: 25px;
    top: 85px;
}

.frm-list li ul li{color: #ff0000; font-size: 14px;}
.frm-list li .md{width: 222px;}
.selected_image {
    border: #FF0000 2px solid !important;
}
#profile ul li ul {
    color: #FF0000;
    font-size: 14px;
    margin-left: 115px;
}
.sec2 ul li ul li {
    color: #FF0000;
    font-size: 13px;
}
.rating_div {
    display: inline-block;
    margin: 0 8px 0 4px;
}
.rating_span {
    cursor: pointer;
    background: url("../../img/ic_fav-star.png") repeat scroll -4px -4px / 40px 40px transparent;
    float: left;
    height: 30px;
    width: 30px;
    margin-top: 3px;
}
.rating_span.active {
    background: url("../../img/ic_fillstar.png") repeat scroll -4px -4px / 40px 40px transparent;
}
.rating_span.clicked {
    background: url("../../img/ic_fillstar.png") repeat scroll -4px -4px / 40px 40px transparent;
    float: left;
}
.rating_span.inactive {
    background: url("../../img/ic_fav-star.png") repeat scroll -4px -4px / 40px 40px transparent !important;
    float: left;
}
#ad .col2 fieldset{
    width: 600px;
}
#ad .col2 label {
    width: 25% !important;
    float: left;
}
#ad .col2 legend {
    font-size: 20px;
    margin-bottom: 9px;
}
.round-border {
    border: 2px solid #CDCDCD;
    border-radius: 50%;
}
.head-user img {
    height: 36px;
    margin: 0;
    vertical-align: top;
    width: 36px;
	border-radius:100%;
	padding:3px;
}
.cover-edit input {
    cursor: pointer;
}
.ph-list li {
    height: 85px;
    overflow: hidden;
    cursor: pointer;
}
.edit-large-ph{width: 100px;
               position: absolute;
               margin-top: 245px;
               margin-left: 80px;}
.edit-large-ph div.uploader span{display: none;}
.edit-large-ph div.uploader{border:0; width: 100px; margin: -40px 0 0 -10px; background: none;}
.edit-large-ph div.uploader input{ width: 100px; cursor: pointer;}
.edit-large-ph label{font-size: 14px; cursor: pointer; text-decoration: underline; margin-bottom: 0;}
.btn4 {
    height: 44px;
    background: #222433;
    border-bottom: #13141d 2px solid;
    text-align: center;
    border: 0;
    color: #fff7ff;
    padding: 0 20px;
    font-size: 22px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 44px;
    min-width: 140px;
    cursor: pointer;
    vertical-align: top;
}
.btn4:hover{color: #fff; opacity: 0.8;}
.photos{padding-bottom: 50px;}
input[type="text"].text {
    padding: 12px 10px;
    vertical-align: top;
    vertical-align: middle;
}
.add-list .btn2{vertical-align: middle;}
.profile-edit .uploader{display: block; margin: -30px auto 0; width: 140px;}
.profile-edit .uploader span{display: none !important;}
.profile-edit .uploader input{width: 140px; height: 30px;}

.cover-edit .uploader{ width: 70px; right: 0;}
.cover-edit .uploader span{display: none !important;}
.cover-edit .uploader input{width: 100px;}
.reg-success {
    width: 600px !important;
}
#forget-password ul li ul li {
    margin-left: 115px;
}
#forget-password .btn2 {
    width: auto !important;
}
.rejected-icon.fr {
    margin-right: 10px;
    margin-top: -5px;
}
.ad-details-head {
    float: left;
    width: 350px;
}
.ad-details-staus {
    display: inline-block;
    float: right;
    top: 0;
    width: auto;
}
.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix {
    display: none;
}
.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable {
    font: 300 18px "Roboto",arial,sans-serif;
}
.selected_li img{
    border: #FF0000 2px solid !important;
}