/*
New Style Start
*/
.mt106{margin-top: 106px;}
.user{float: right; margin:20px 0 0 20px; height: 67px; border-left: #d2d2d2 1px solid; padding-left: 20px; vertical-align: middle; 
	min-width: 120px; padding-top: 15px;}
.user span{display: block;}
.user p{float: left;}
.user .logout{display: none; font-size: 16px;}
.user-active .logout{display: block;}
.head-user{width: 38px; float: left; margin-right: 10px; height: 38px; border: 1px solid #bababa; border-radius: 50%; text-align: center;}
.head-user img{margin: 4px; vertical-align: top; width: 25px; height: 25px;}

.home-banner{background: url(../img/home-banner.jpg) 0 0 no-repeat; background-size: cover; height: 528px; margin-top: 106px; position: relative; padding-top: 1px;}
.home-banner .image{ margin: 74px 20px 0 0; float: left;}
.home-banner h2{font-size: 35px; color: #FFF; font-weight: 500; line-height: normal; margin-bottom: 10px;}
.home-banner h3{font-size: 20px; color: #FFF; font-weight: 500; line-height: normal; margin-bottom: 10px;}
.home-banner p{font-size: 20px; color: #fe68ff; line-height: normal; margin-bottom: 40px;}
.banner-text{padding-top: 95px;}
.social-links a{margin-right: 20px;}
.social-links a:hover{ opacity: 0.8;}

.btn1{color: #fff; font-size: 24px; text-transform: uppercase; border: #fff 1px solid; height: 64px; line-height: 26px; padding:0 20px; display: inline-block;}
.btn1:hover{color: #fff;}
.btn1 span{font-size: 16px;}
#section2{background: #fff; border-bottom: 1px solid #ECECEC;}
#section4{background: #fff; border-bottom: 1px solid #ECECEC;}


.overview h3{color: #fe68ff; margin-bottom: 10px;}
.download-now{background: #151720 url(../img/download.jpg) 50% 0 no-repeat; height: 152px;}
.download-now p{ font-size: 32px; color: #fff; line-height: normal;}
.download-now .eleven{padding-top: 25px;}
.download-now .five{padding-top: 40px;}

.footer-nav{float: left;}
.footer-nav li{font-size: 15px; text-transform: uppercase; display: inline-block; margin-right: 20px;}
.footer-nav li a{color: #545454;}
#top{font-size: 15px; margin-left: 10px;}

.login{width: 640px; margin: 0 auto 100px; padding: 20px 0; position: relative;}
.login h3{font-size: 27px; color: #232323; margin-bottom: 15px; font-weight: 400;}
.noac{float: right; font-size: 20px; color: #000; padding-top: 5px;}
.noac a{color: #c52ec4;}
.login .inner{padding: 20px; background: #fff; border: #eeeeee 1px solid;}
.login h4{font-size: 15px; color: #504d48; margin-bottom: 15px;}
.login .sec1{border-right:#e6e6e6 1px solid; float: left; width: 300px;}
.login .or{position: absolute; top: 210px; left: 310px;}
.s-list a{background:url(../img/social.jpg) 0 0 no-repeat; display: block; width: 250px; height: 44px; margin-bottom: 10px;}
.s-list a.twitter{background-position: 0 -54px;}
.s-list a.in{background-position: 0 -108px;}
.s-list a.g{background-position: 0 -162px;}
.s-list a:hover{opacity: 0.8}

.login .sec2{ padding-left: 50px; float: left; width: 298px;}
.login .sec2 ul li{margin-bottom: 10px;}
.login .sec2 ul li a{font-size: 16px; color: #c52ec4;}
.login .sec2 ul li.forgot{margin: -5px 0 15px;}
.login .sec2 ul li.selectpic{font-size: 16px;}
.login .sec2 ul li.selectpic .action{margin: 0; padding: 0;}
.login .sec2 ul li .btn2{width: 100%;}
.login .sec2 ul li .login-btn2{width: 100%;}
.login input[type="text"], .login input[type="password"]{background: #eeeeee; border: 0; padding: 12px 10px; font-size: 16px; color: #141414; width: 248px;}


.btn2{height: 44px;  background: #ff68fe; text-align: center; border: 0; border-bottom: #e754e6 2px solid; color: #fff7ff; padding: 0 20px;
font-size: 22px; text-transform: uppercase; display: inline-block; line-height: 44px; min-width: 140px; cursor: pointer;}
.btn2:hover{opacity: 0.8; color: #fff7ff;}

.login-btn2{height: 44px;  background: #ff68fe; text-align: center; border: 0; border-bottom: #e754e6 2px solid; color: #fff7ff; padding: 0 20px;
font-size: 22px; text-transform: uppercase; display: inline-block; line-height: 44px; min-width: 140px; cursor: pointer;}
.login-btn2:hover{opacity: 0.8; color: #fff7ff;}


.btn3{height: 44px;  background: #222433; text-align: center; border: 0; border-bottom: #13141d 2px solid; color: #fff7ff; padding: 0 20px;
font-size: 22px; text-transform: uppercase; display: inline-block; line-height: 44px; min-width: 140px; cursor: pointer;}
.btn3:hover{opacity: 0.8; color: #fff7ff;}
.f14{font-size: 14px !important;}
.fr{float: right;}
.fl{float: left;}
.mr10{margin-right: 10px;}
small{font-size: 90%;}


.main-content{margin-top: 106px; padding: 40px 0;}
.sidebar{width: 250px; background: #222433; float: left;}
.sideNav li{font-size: 20px;}
.sideNav li a{ display: block; height: 60px; line-height: 60px; padding: 0 20px; border-bottom: #151722 1px solid; box-shadow: 0 1px 0 0 #2e3144;
color: #c0c0c0; font-weight: 400;}
.sideNav li a.active, .sideNav li a:hover{color: #fe68ff;}

.main{margin-left: 50px; float: left; width: 660px;}
.tab-head{border-bottom: #d9d9d9 1px solid; padding-bottom: 18px;margin-bottom: 40px; box-shadow: 0 1px 0 0 #fdfdfd;}
.tab-strip li{display: inline-block; font-size: 20px; margin-right: 20px; line-height: 44px;}
.tab-strip li a{color: #434343; position: relative;}
.tab-strip li a.active, .tab-strip li a:hover{color: #fe68ff;}
.tab-strip li a span{background: url(../img/arrow1.png) 0 0 no-repeat; width: 15px; height: 8px; display: none; position: absolute; top: 54px; left: 50%; margin-left: -8px;}
.tab-strip li a.active span, .tab-strip li a:hover span{display: block;}

.list1 li{padding: 20px; background: #fff; border-bottom:#e2e1e1 2px solid; margin-bottom: 30px;}
.list1 li .inner{margin-left: 128px;}
.list1 li h3{ font-size: 23px; margin-bottom: 2px;}
.list1 li h3 a{color: #fe68ff;}
.list1 li h3 span{font-size: 18px; color: #2f2f2f; float: right;}
.list1 li h3 span.update{color: #5ec147;}
.list1 li h3 span.rej{color: #ed2c3e;}
.list1 li p{font-size: 18px; margin-bottom: 10px;}
.list1 li .ad-img{width: 110px; height: 110px; border: 2px solid #FE76FD; border-radius: 50%;}
.list1 li .ad-img img{border-radius: 50%; margin: 5px; width: 96px; height: 96px;}

.icons .icon{display: inline-block; width: 32px; height: 32px; margin-left: 15px;}
.edit.icon{ background: url(../img/action.png) 0 0 no-repeat;}
.state.icon{ background: url(../img/action.png) -43px 0 no-repeat; width: 38px;}
.delete.icon{ background: url(../img/action.png) -96px 0 no-repeat; width: 22px;}
.process.icon{background: url(../img/action.png) 0px -67px no-repeat; width: 32px; height: 33px;}
.edit.icon:hover{ background-position: 0 -34px;}
.state.icon:hover{ background-position: -43px -34px;}
.delete.icon:hover{ background-position: -96px -34px;}
.process.icon:hover{background-position: -43px -67px;}

.tab-head h3{font-size: 23px; font-weight: 400; margin-bottom: 0;}

.photos{padding-bottom: 30px; margin-bottom: 30px; border-bottom: #d9d9d9 1px solid; box-shadow: 0 1px 0 0 #fdfdfd;}
.photos label{display: block; margin-bottom: 30px;}
.photoThumb{margin-bottom: 10px;}
.photoThumb li{display: inline-block; margin:0 10px 10px 0; border:#d3d3d3 2px solid; border-radius: 2px;}
.largPhoto{float: left; margin-right: 20px; border:#fe76fd 2px solid; width: 234px; height: 234px; border-radius: 50%; text-align: center;}
.largPhoto img{background: #DBDBDB; margin: 10px; border-radius: 50%; width: 210px; height: 210px;}

.mdPhoto{ border:#fe76fd 2px solid; width: 155px; height: 155px; border-radius: 50%; text-align: center; display: inline-block;}
.mdPhoto img{background: #DBDBDB; margin: 5px; border-radius: 50%; width: 140px; height: 140px;}

.ad-details h3{font-size: 23px; margin-bottom: 5px; font-weight: 400; color: #636363;}
.ad-details p{margin-bottom: 0px;}
.ad-details .price{border-bottom: 1px solid #D9D9D9;    box-shadow: 0 1px 0 0 #FDFDFD; padding-bottom: 10px; margin-bottom: 20px;}
.ad-details .price a.state.active{width: auto; padding-left: 40px; background: url(../img/icons/active.png) 0px 50% no-repeat; color: #636363; }
.ad-details .price span{color: #FE68FF;}
.ad-details .breadcrumb{font-size: 16px; margin-bottom: 20px;}

.image-row {width: 400px; }
.image-row a{margin: 0 8px 10px 0; display: inline-block;}
.image-row ul li{display: inline-block;}

.profile .sec2{float: left; padding-left: 0; width: 500px;}
.profile .sec2 label{width: 110px; display: inline-block; font-size: 15px;}
.profile .sec2 .selector{display: inline-block; width: 342px; vertical-align: middle;}
.profile .sec2 input[type="text"], .profile .sec2  input[type="password"]{width: 350px;}
.profile .sec2 .btn2{ width: 100px !important;}

.rad{display: inline-block; margin-right: 10px;}
.rad a{ width: 200px; height: 100px; background: #c5bdbd; border:#959595 1px solid;color: #555555; text-align: center; line-height: 100px;
font-size: 30px; display: block;}

profile-head{height: 200px;}
.ph-list{margin-bottom: 20px;  max-height: 250px; overflow: auto; padding-right:0px;margin-top: 20px;width: 100%;}
.ph-list li{display: inline-block; margin: 0 10px 20px 0; width: 55px; font-size: 14px; text-align: center;}
.ph-list li img{width: 50px; height: 50px; border-radius: 50%; border: 1px solid #FE76FD; padding: 2px;}
.ph-list li a{color: #555555;  margin-top: 3px;}
.devider{  border-bottom: 1px solid #D9D9D9;    box-shadow: 0 1px 0 0 #FDFDFD;    margin-bottom: 20px;    padding-bottom: 20px;}

.profile-haed{ padding: 10px; margin-bottom: 20px; background-size: cover; text-align: center; position: relative;}
.profile-haed h3{color: #fff;}
.profile-haed a{color: #fff;}
.profile-haed .largPhoto{float: none; display: inline-block; margin-bottom: 10px;}
.mb10{margin-bottom: 10px;}
.cover-edit{position: absolute; top: 5px; right: 10px; font-size: 14px; background: #fff; padding: 2px 5px; display: none; }
.cover-edit a{color: #000;}
.profile-edit{background: #fff; padding: 2px 5px; width: 150px; margin: 0 auto; display: none;}
.profile-edit a{color: #000; font-size: 14px; vertical-align: top;}
.profile-haed:hover .cover-edit{display: block;}
.profile-edit-wrap{display: inline-block; height: 195px;}
.profile-edit-wrap:hover .profile-edit{display: block;}


.list2{margin: 20px 0;}
.list2 li{font-size: 18px; font-weight: 300; margin-bottom: 10px; list-style: disc; margin-left: 16px; }

.profile-edit .uploader{background: none; height: 26px; margin-top: -25px;}
.profile-edit span{display: none;}
.profile-edit input{width: 60px;}

.cover-edit .uploader{background: none; height: 26px; position: absolute; top: 0; cursor: pointer; padding: 0;}
.cover-edit span{display: none;}
.cover-edit input{width: 35px;}
.cover-ph{position: absolute; left: 0; top: 0; bottom: 0; right: 0; height: 100%; z-index: -1;}

.inputAction{ display: inline-block; position: relative;}
.inputAction a{ width: 18px; height: 18px; display: block; position: absolute; right: 10px; top: 19px; }
.inputAction a.right{background: url(../img/right-small.png) 50% 50% no-repeat;}
.inputAction a.wrong{background: url(../img/cross.png) 50% 50% no-repeat; height: 13px; width: 13px;}
.inputAction a.alert{background: url(../img/alert.png) 50% 50% no-repeat;}
.inputAction input.text[type="text"]{padding-right: 30px; border: 0; background: none; width: 350px;}
.hintText{font-size: 11px; display: block; line-height: normal; margin-top: -3px;}

.inputAction1{ display: inline-block; position: relative;}
.inputAction1 a{ width: 18px; height: 18px; display: block; position: absolute; right: 10px; top: 50px; }
.inputAction1 a.right{background: url(../img/right-small.png) 50% 50% no-repeat;}
.inputAction1 a.wrong{background: url(../img/cross.png) 50% 50% no-repeat; height: 13px; width: 13px;}
.inputAction1 a.alert{background: url(../img/alert.png) 50% 50% no-repeat;}
.inputAction1 input.text[type="text"]{padding-right: 30px; border: 0; background: none; width: 350px;}

.inputAction2{ display: inline-block; position: relative;}
.inputAction2 a{ width: 18px; height: 18px; display: block; position: absolute; right: 32px; top: 19px; }
.inputAction2 a.right{background: url(../img/right-small.png) 50% 50% no-repeat;}
.inputAction2 a.wrong{background: url(../img/cross.png) 50% 50% no-repeat; height: 13px; width: 13px;}
.inputAction2 a.alert{background: url(../img/alert.png) 50% 50% no-repeat;}
.inputAction2 input.text[type="text"]{padding-right: 30px; border: 0; background: none; width: 350px;}

.rbordertext {border:red 2px solid !important;}


