/*
Name: Neue
Version: 1.4
Author: Aether Themes
Author URI: http://www.aetherthemes.com
*/


/* =Table of Contents
--------------------------------------------------------------
	=Common Styles
	=Typography
	=Notifications
	=Anchors
	=Header
	=Hero
	=Overview
	=Static
	=Detail

	=Responsive
*/


/* =Common Styles
-------------------------------------------------------------- */

body { 
	background: #f8f8f8;
	color: #545454;
	font: normal 18px "Roboto", arial, sans-serif;
	font-weight: 300;
	overflow-x: hidden;
}

.small-border {
	display: block;
	width: 150px;
	margin: 0 auto;
	height: 1px;
	background: #ececec;
}

::selection {
	background: #b2daeb;
	color: #fff; 
}

::-moz-selection { 
	background: #b2daeb;
	color: #fff; 
}

/* =Typography
-------------------------------------------------------------- */
	
p {
	color: #666;
	line-height: 1.8em;
	margin: 0 0 10px;
}

em {
	font-style: italic;
}

strong {
	font-weight: 400;
}

h1,h2,h3,h4,h5,h6 {
	color: #555;
	font-style: normal;
	font-weight: 300;
	line-height: 1.17em;
	margin: 0 0 10px;
}

h2 {
	font-size: 1em;
}

h1 {
	font-size: 3.5em;
	margin-top: 80px;
}

h3 {
	/* border-bottom: 1px solid #DDDDDD; */
    font-size: 1.46667em;
    font-weight: 300;
    padding-bottom: 10px;
}

h4 {
	font-size: 1em;
	font-weight: 400;	
}

h5 {
	font-size: 1em;
	font-weight: 300;
}

h6 {
	font-size: 0.8em;
	text-transform: uppercase;
	font-weight: 300;
}

.sub-heading {
	margin-bottom: 40px;
	line-height: 1.6em;
}



/* =Notifications
-------------------------------------------------------------- */

.notification.columns {
	display: none;
	position: relative;
	width: 100%;
	margin-bottom: 20px;
	padding: 10px 18px;
	text-align: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.notification p {
	float: left;
	padding: 0;
	margin: 0;
}

.notification.success {
    background-color: #008000;
    border: 1px solid #008000;
	clear: both;
    color: #FFFFFF;
    margin: 10px 0;
    padding: 2px;
	font-size:14px;
}

#flashMessage {
    /* background-color: #008000; */
    border: 1px solid #333333;
	clear: both;
    color: #333333;
    margin: 10px 0;
    padding: 2px;
	font-size:14px;
}

.notification.success p { 
	color: #5f9025; 
}

.notification.error { 
	border: 1px solid #fbc4c4; 
    margin: 10px 0;
    padding: 5px;
	font-size:14px;
	clear:both;
}

.notification.error p { 
	color: #de5959; 
}

.notification .close {
	float: right;
	text-indent: -999em;
	width: 9px;
	height: 9px;
	margin-top: 10px;
}

.notification.success .close { 
	background: url(../img/icons/close-success.png) no-repeat; 
}

.notification.error .close { 
	background: url(../img/icons/close-error.png) no-repeat; 
}

/* =Anchors
-------------------------------------------------------------- */

a {
	color: #3498d9;
	cursor: pointer;
	text-decoration: none;
	-moz-transition:color .2s;
	-o-transition:color .2s;
	-webkit-transition:color .2s;
	transition:color .2s;
}

a:hover { 
	color: #555; 
}

a.button {
	display: inline-block;
	font-size: 20px;
}

a.button i { 
	display: inline-block; 
	margin-left: 10px; 
	width: 30px; 
	height: 30px; 
	margin-bottom: -8px; 
	
}

a.button.small {
	font-size: 12px;
	font-weight: 400;
}

a.button.small i { 
	margin-left: 5px; 
	width: 15px; 
	height: 15px; 
	margin-bottom: -4px; 
}

a.button i.go { background: url('../img/icons/go.png') no-repeat top center; }
a.button i.go.small { background: url('../img/icons/go-small.png') no-repeat top center;}
a.button i.grid { background: url('../img/icons/gallery.png') no-repeat top center; }
a.button i.more { background: url('../img/icons/more.png') no-repeat top center; }
a.button i.top { background: url('../img/icons/top.png') no-repeat top center; }
a.button:hover i, a.button.small:hover i { background-position: bottom; }


/* =Header
-------------------------------------------------------------- */

header {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 300;
	width: 100%;
	background: rgb(255, 255, 255);
	background: rgba(255, 255, 255, .9);
	min-height: 106px;
	line-height: 106px;	
	border-bottom: #b59e82 1px solid;
}
#logo{	
	
}

html.ie header { border-bottom: 1px solid #aeaeea; }

nav ul { float: right; }

nav ul li {
	float: left;
	margin-right: 30px;
	font-size: 18px;
}

nav ul li:last-of-type { margin-right: 0px; }
nav ul li a { color: #767676; display: block; }
nav ul li a.current , nav ul li a:hover {color: #ee7bee;}
nav ul li a.current, nav ul li a:hover {  box-shadow: 0 -3px 0 0 #fe68ff inset; background: url(../img/nav-arrow.png) 50% 96px no-repeat; }

#mobile-nav {
	display: none;
	width: 100%;
	background: rgba(198, 198, 198, .9);
	position: absolute;
	z-index: 999;
	top: 0;
}
	
#mobile-nav .navigationButton img { margin: 15px 0px; }
#mobile-nav .navigationButton img:hover { cursor: pointer; }

#mobile-nav .navigationContent a { display: block; color: #fff; padding: 15px 0px;  border-bottom: 1px solid #bebebe; }
#mobile-nav .navigationContent li:last-child a { border-bottom: 1px solid transparent; }
#mobile-nav .navigationContent a:hover { color: #a1a1a1; }


/* =Hero
-------------------------------------------------------------- */
	
.hero { 
	margin-top: 35px;
	background: url('../img/hero-hardware.jpg') no-repeat top right; 
}

.action {
	background: #fff;
	background: -webkit-linear-gradient(top, rgba(255,255,255,.8) 0%, rgba(255,255,255,1) 45%);
	background: -moz-linear-gradient(top, rgba(255,255,255,.8) 0%, rgba(255,255,255,1) 45%);
	background: linear-gradient(top, rgba(255,255,255,.8) 0%, rgba(255,255,255,1) 45%);
	margin-top: 220px;
	padding-top: 40px;
	padding-bottom: 40px;
	text-align: center;
	border-bottom: 1px solid #ececec;
}

.action li {
	display: inline-block;
	margin-right: 50px;
}

.action li:last-of-type {
	margin-right: 0px;
}


/* =Overview
-------------------------------------------------------------- */

.overview { text-align: center; padding-top: 40px; padding-bottom: 40px; }
.content-box img { margin-bottom: 20px; }



/* =Static
-------------------------------------------------------------- */

.static { 
	position: relative;
	overflow: hidden;
	padding-top: 100px;
	height: 510px;	
}

.sidephone-big, .sidephone-small {
	position: absolute;
	bottom: 0;
	left: 185px;
}

.static-list li {
	float: left;
	margin-right: 15px;
}

.static-list li:last-of-type { margin-right: 0px; }

.static-phone {
	position: absolute;
	bottom: -400px;
	right: 200px;	
}

.static-tablet {
	position: absolute;
	bottom: 0;
	right: 0;
}


/* =Detail
-------------------------------------------------------------- */

.detail { 
	text-align: center; 
	padding-top: 40px; 
	position: relative; 
	min-height: 623px; 
	overflow: hidden;
	border-bottom: 1px solid #ececec;
}

.detail .sub-heading { margin-bottom: 0px; }

html.ie .loupe { display: none; }

.loupe-gallery { position:absolute; z-index:200; margin: 80px 0 0 191px; *margin-left:103px; }
.loupe-gallery .loupe-container,
.loupe-gallery .loupe-container.degraded { display:none; }
.loupe-gallery .loupe-container.active { display:block; }
.loupe-gallery .loupe {
-webkit-transform:translate(900px, 0);
   -moz-transform:translate(900px, 0);
    -ms-transform:translate(900px, 0);
        transform:translate(900px, 0);
}

@-webkit-keyframes touchBobble {
0%   { -webkit-transform:scale(1.04); }
100%  { -webkit-transform:scale(1); }
}

.loupe-container { position:relative; z-index:200; }
.loupe { position:absolute; z-index:150; top:55px; width:265px; height:265px; visibility:hidden; cursor:move; cursor:-webkit-grab; cursor:-moz-grab; cursor:grabbing; }
.loupe.grabbing { cursor:none; *cursor:move; }
.loupe .loupe-image { position:absolute; top:0; left:0; z-index:3; }
.loupe .canvas-fade { position:absolute; display:inline-block; border-radius:100px; top:24px; left:23px; -webkit-transition:opacity 0.4s; -moz-transition:opacity 0.4s; transition:opacity 0.4s; z-index:1; }
.loupe .tooltip { 
	display:none; z-index:2; position:absolute; top:110px; left:50%; margin-left:-84px; width:145px; padding:10px 0 9px; border-radius:25px; color:#fff; text-align:center; opacity:0;
	background:rgb(32,32,32);
	background:rgba(32,32,32,0.7);
	-webkit-transition:opacity 0.6s ease;
	   -moz-transition:opacity 0.7s ease;
	        transition:opacity 0.7s ease;
}
.loupe .canvas { display:inline-block; border-radius:100px; margin:18px 0 0 -18px; *position:relative; *top:18px;
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha( Opacity=100, FinishOpacity=0, Style=1, StartX=90,  FinishX=100, StartY=75, FinishY=85), progid:DXImageTransform.Microsoft.Alpha( Opacity=100, FinishOpacity=0, Style=1, StartX=77,  FinishX=87, StartY=10, FinishY=0), progid:DXImageTransform.Microsoft.Alpha( Opacity=100, FinishOpacity=0, Style=1, StartX=10,  FinishX=0, StartY=75, FinishY=85), progid:DXImageTransform.Microsoft.Alpha( Opacity=100, FinishOpacity=0, Style=1, StartX=20,  FinishX=10, StartY=10, FinishY=0)';
	*filter:progid:DXImageTransform.Microsoft.Alpha( Opacity=100, FinishOpacity=0, Style=1, StartX=90,  FinishX=100, StartY=75, FinishY=85)
	progid:DXImageTransform.Microsoft.Alpha( Opacity=100, FinishOpacity=0, Style=1, StartX=77,  FinishX=87, StartY=10, FinishY=0)
	progid:DXImageTransform.Microsoft.Alpha( Opacity=100, FinishOpacity=0, Style=1, StartX=10,  FinishX=0, StartY=75, FinishY=85)
	progid:DXImageTransform.Microsoft.Alpha( Opacity=100, FinishOpacity=0, Style=1, StartX=20,  FinishX=10, StartY=10, FinishY=0);
}

.loupe-still { position: absolute; z-index: 100; left: 50%; margin-left: -470px; top: -30px; }


/* =Gallery
-------------------------------------------------------------- */

.gallery {
	text-align: center;
	padding-top: 40px;
	position: relative;
}

.bx-wrapper {
	background: url(../img/gallery/hardware.png) no-repeat top center;
	padding-top: 85px;
	border-bottom: 1px solid #ececec;
}

#gallery-pager {
	padding-top: 20px;
	padding-bottom: 20px;
}

.bx-pager-item { display: inline-block; }
.bx-pager-link {
	display: inline-block;
	text-indent: -999em; 
	width: 12px; 
	height: 12px;
	margin: 0 5px;
	background: url(../img/gallery/pager.png) no-repeat top center; 
}

.bx-pager-link.active { background: url(../img/gallery/pager-active.png) no-repeat top center; }
.bx-pager-link:hover { background-position: bottom; }

.bx-next, .bx-prev {
	position: absolute;
	display: block;
	text-indent: -999em;
	top: 55%;
	width: 30px;
	height: 73px;
}

.bx-next {
	right: 0;
	margin-right: -80px;
	background: url(../img/gallery/next.png) no-repeat top right;
}

.bx-prev {
	left: 0;
	margin-left: -80px;
	background: url(../img/gallery/prev.png) no-repeat top right;
}

.bx-prev:hover, .bx-next:hover { background-position: bottom; }


/* =Subscribe
-------------------------------------------------------------- */

.subscribe {
	text-align: center;
	padding-top: 20px;
	padding-bottom: 40px;
}

.subscribe .sub-heading {
	margin-bottom: 20px;
}

.subscribe input.text {
	display: inline-block;
	outline: none;
	-webkit-appearance: none;
	width: 340px;
	padding: 15px 0px 15px 15px;
	background: white;
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font: 12px "Roboto";
	color: #3498d9;
	margin-bottom: 20px;
}

.subscribe input.submit {
	border: none;
	display: inline-block;
	outline: none;
	cursor: pointer;
	background: transparent url(../img/icons/more.png) no-repeat top right;
	-webkit-font-smoothing: antialiased;
	text-rendering: geometricPrecision;
	text-decoration: none;
	-webkit-appearance: none;
	font: 22px "Roboto";
	font-weight: 300;
	color: #3498d9;
	margin-left: 10px;
	padding-right: 40px;
	-moz-transition:color .2s;
	-o-transition:color .2s;
	-webkit-transition:color .2s;
	transition:color .2s;
}

.subscribe input.text::-ms-clear {
    display: none;
}

.subscribe input.submit:hover {
	color: #555;
	background-position: bottom right;
}

.social-list { padding-top: 20px; }
.social-list li { 
	display: inline-block;
	margin-right: 10px;
}
.social-list li:last-of-type {
	margin-right: 0px;
}

.social-list a {
	-webkit-transition: all 0.33s;
	-moz-transition: all 0.33s;
	-o-transition: all 0.33s;
	-ms-transition: all 0.33s;
	transition: all 0.33s;
}

.social-list a:hover {
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)"; /* IE 8 */
    filter: alpha(opacity=40);
	-webkit-transition: all 0.33s;
	-moz-transition: all 0.33s;
	-o-transition: all 0.33s;
	-ms-transition: all 0.33s;
	transition: all 0.33s;
}


/* =Footer
-------------------------------------------------------------- */
	
footer {
	width: 100%;
	background: #fff;
	border-top: 1px solid #ececec;
	padding: 30px 0px 30px;
	text-align: center;
}

.footer-action { padding-bottom: 15px; }
.footer-action li { display: inline-block; margin-right: 15px; }
.footer-action li:last-of-type { margin-right: 0px; }

.copyright { font-size: 15px; font-weight: 300; float: right;  margin: 0; }


/* =Responsive
-------------------------------------------------------------- */

/* Tablet Landscape */
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) and (orientation:landscape) {
	body { margin: 0; padding: 0!important; }
	.bx-prev, .bx-next { display: none!important; }
}

/* Smaller than 960px */
@media only screen and (max-width: 959px) {
	h1 { margin-top: 0px; font-size: 3em; }
	h2 { font-size: 2.5em; }
	#mobile-nav { display: block; }
	header { position: static; margin-top: 47px; }
	#navigation {  display: none; }
	#logo {  width: 100%; text-align: center; }
	.bx-prev, .bx-next { display: none!important; }
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.hero { background-size: 100%; }
	.static { padding-top: 70px; height: 400px; }
	.sidephone-small { width: 200px; left: 12px; }
	.sidephone-big { width: 200px; left: 130px; }
	.static-phone { width: 150px; bottom: 0px; right: 200px; }
	.static-tablet { width: 300px; }
	.detail { min-height: 542px; }
	.loupe { display: none; }
	.loupe-gallery { margin-left: 100px; }
	.gallery-content { width: 80%; height: auto; }
	.loupe-still { width: 120%; height: auto; top: -20px; margin-left: -330px;}
	.screenshot img { width: 186px; }
	.gallery-bxslider li .screenshot:first-of-type img { float: left; margin-left: 20px; }
	.gallery-bxslider li .screenshot:last-of-type img { float: left; margin-left: 30px; }
	.bx-wrapper { background-size: 100%; background-position: bottom center; }
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {
	.bx-wrapper {
		background: url(../img/gallery/hardware-mobile.jpg) no-repeat top center;
		padding-top: 85px;
		border-bottom: 1px solid #ececec;
	}
	.screenshot { margin-bottom: 120px; }
	.screenshot:last-child { margin-bottom: 0px; }
}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.hero { background-size: 100%; background-position: center 70px; } 
	.action li { margin-right: 15px; }
	.static { min-height: 730px; padding-top: 40px; }
	.sidephone-small { left: 12px; }
	.static-phone { bottom: 0px; }
	.detail { min-height: 480px; }
	.loupe { display: none; }
	.loupe-gallery { margin-left: 70px; margin-top: 50px; }
	.gallery-content { width: 300px; height: auto; }
	.loupe-still { width: 490px; height: auto; top: -15px; margin-left: -249px; }

}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	.hero { background-size: 110%; background-position: center 100px; }
	.action { margin-top: 140px; } 	
	.action li { margin-right: 0px; margin-bottom: 20px; }
	.action li:last-of-type { margin-bottom: 0px; }
	.static { min-height: 660px; padding-top: 40px; }
	.sidephone-small { width: 170px; left: 12px; }
	.sidephone-big { width: 170px; left: 130px; }
	.static-phone { width: 130px; bottom: 0px; right: 150px; }
	.static-tablet { width: 260px; }
	.detail { min-height: 496px; }
	.loupe { display: none; }
	.loupe-gallery { margin-left: 40px; margin-top: 50px; }
	.gallery-content { width: 220px; height: auto; }
	.loupe-still { width: 360px; height: auto; top: -10px; margin-left: -179px; }
	.subscribe input.text { width: 300px; }


}









/*

#Wrapper{
		margin: 120px 0 0 0;
}

#container{
    float: right;
    margin: 39px 52px 100px 0;
    min-height: 400px;
    padding: 0;
    width: 72%;
}

#sidebar {
    display: block;
    left: 10px;
    position: absolute;
    top: 150px;
    z-index: 999;
}

.mainNav {
    float: left;
    position: relative;
    width: 310px;
    z-index: 99;
}
.nav {
    background: none repeat scroll 0 0 #222433;
    padding: 10px 0;
}
.nav > li {
    border-bottom: 1px solid #151722;
    box-shadow: 0 1px 0 0 #2E3144;
}
.nav li {
    position: relative;
}
.nav li a {
    background: url("../images/plus.png") no-repeat scroll 90% 50% rgba(0, 0, 0, 0);
    color: #C0C0C0;
    display: block;
    font-size: 20px;
    font-weight: 400;
    padding: 15px 18px;
    text-decoration: none;
}

input[type="text"], input[type="password"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DBDBDB;
    color: #141414;
    font-size: 16px;
    padding: 11px 10px;
    width: 278px;
}

#container h3{font-size: 27px; color: #232323; margin-bottom: 15px; font-weight: 400;}
#container h3{    
	padding-bottom:15px;
	color:#666666;
	font-size:24px;
	border-bottom:1px solid #EEEEEE;
}


.noac{float: right; font-size: 20px; color: #000; padding-top: 5px;}
.noac a{color: #c52ec4;}
#container .inner{padding: 20px; background: #fff; border: #eeeeee 1px solid;}
#container h4{font-size: 15px; color: #504d48; margin-bottom: 15px;}
#container .sec1{border-right:#e6e6e6 1px solid; float: left; width: 300px;}
#container .or{position: absolute; top: 210px; left: 310px;}
.s-list a{background:url(../images/social.jpg) 0 0 no-repeat; display: block; width: 250px; height: 44px; margin-bottom: 10px;}
.s-list a.twitter{background-position: 0 -54px;}
.s-list a.in{background-position: 0 -108px;}
.s-list a.g{background-position: 0 -162px;}
.s-list a:hover{opacity: 0.8}

#container .sec2{ padding-left: 50px; float: left; width: 298px;}
#container .sec2 ul li{margin-bottom: 10px;}
#container .sec2 ul li a{font-size: 16px; color: #c52ec4;}
#container .sec2 ul li.forgot{margin: -5px 0 15px;}
#container .sec2 ul li.selectpic{font-size: 16px;}
#container .sec2 ul li.selectpic .action{margin: 0; padding: 0;}
#container .sec2 ul li .btn2{width: 100%;}
#container input[type="text"], #container input[type="password"]{background: #eeeeee; border: 0; padding: 12px 10px; font-size: 16px; color: #141414; width: 248px;}

#containerDiv{
	width:70%;
	float:right;
	margin:30px;
	min-height:400px;
	font-size:14px;
	color:#222433;
}

fieldset p span{
	color:#222433;
}

fieldset p label{
	display:block;
}

div.selector select{
	width:300px;
}

*/



/*---------------------------------21/03/2014---------------------------*/
.AccMid {
width:1015px;
/* width:980px; */
margin:auto;
padding:15px 0;
}

.AccLeft {
width:250px;
float:left;
}


.AccLeNav {
width:100%;
float:left;
list-style-type:none;
display:block;
background:#222433;
}
.AccLeNav li{
width:100%;
float:left;
list-style-type:none;
display:block;
border-bottom:1px solid #151722;
border-top:1px solid #2e3045;
}

.AccLeNav li a {
width:250px;
float:left;
padding:8px 10px;
text-decoration:none;
}

.AccLeNav li a span {
float:left;
font:normal 15px Arial, Helvetica, sans-serif;
color:#fff;
text-decoration:none;
}

.AccLeNav li a:hover span {
color:#ff61ff;
}


.AccLeNav li a label {
color: #FFFFFF;
    float: right;
    font: 25px/20px Arial,Helvetica,sans-serif;
    text-decoration: none;
	cursor:pointer;
}

.AccLeNav li a:hover label {
color:#ff61ff;
}






.AccLeNav li .AccSubNavLe {
padding:0;
width:100%;
float:left;
list-style-type:none;
display:block;
}


.AccLeNav li .AccSubNavLe li {
padding:0;
width:100%;
float:left;
list-style-type:none;
display:block;
}


.AccLeNav li .AccSubNavLe li a  {
float:left;
font:normal 13px Arial, Helvetica, sans-serif;
color:#ccc;
text-decoration:none;
padding:8px 18px;
}
.AccLeNav li .AccSubNavLe li a:hover {
color:#ff61ff;
}
.AccMidRight {
width:750px;
float:right;
}


.AccMidRight h2 {
font:normal 22px Arial, Helvetica, sans-serif;
border-bottom:1px solid #ccc;
padding:0 0 6px 0;
}
.ProfPhotoAccSet {
width:100%;
float:left;
background:#eee;
border:1px solid #ccc;
text-align:center;
}
.ProfPhotoAccSet img {
margin:10px;
padding:6px;
background:#fff;
border:1px solid #ccc;
-moz-border-radius:100%;
	-webkit-border-radius:100%;
	-khtml-border-radius:100%;
	border-radius:100%;
}

.AccSetBtnRow img {
margin:10px;
padding:6px;
background:#fff;
border:1px solid #F0F;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	-khtml-border-radius:100%;
	border-radius:100%;
}


.AccSetFrm {
width:100%;
float:left;
padding:10px 0;
list-style-type:none;
display:block;
border-bottom:1px solid #ccc;
}
.AccSetFrm li{
width:100%;
float:left;
padding:9px 0;
list-style-type:none;
display:block;
}

.AccSetFrm li label {
width:100%;
float:left;
padding:0 0 5px 0;
}

div.selector select.AccSetFrmSeFild {
}



.AccSetConDeBox {
width:100%;
float:left;
padding:15px 0;
border-bottom:1px solid #ccc;
position:relative;
}

.AccSetConDeBox h3 {
font:normal 18px Arial, Helvetica, sans-serif;
padding:0 0 0px 0;
}


.AccSetConDeFrm {
width:100%;
float:left;
list-style-type:none;
display:block;
}
.AccSetConDeFrm li{
width:100%;
float:left;
list-style-type:none;
display:block;
margin:8px 0;
position:relative;
}

.ConDeLeTxtFild {
float:left;
position:relative;
}
.ConDeRiTxtFild {
float:right;
position:relative;
}

.ConDeLeTxtFild input.AccSetFrmTxtFild {
width:340px;
}
.ConDeRiTxtFild input.AccSetFrmTxtFild {
width:340px;
}


.ConDeLeTxtFild.skypeIcon input.AccSetFrmTxtFild {
padding-left: 54px;
    width: 340px;
}

.SkypIconFild {
left: 5px;
    position: absolute;
    top: 5px;
}

.SocialIconFrm {
	left: 5px;
    position: absolute;
    top: 5px;
}

.TextBoxCheck {
	right: 8px;
    position: absolute;
    top: 16px;
}

.TextBoxCheckSocial {
    position: absolute;
    right: 160px;
    top: 16px;
}

.AccSetConDeFrm li input.SocialFild {
padding-left: 54px;
/* width:700px; */
width:550px;
}

.AccSetConDeFrm li input.AdDetailText {
padding-left: 5px;
width:700px;
}

.AccSetConDeFrm li textarea.AdDetailDesc {
padding-left: 5px;
width:700px !important;
height:150px;
vertical-align:top;
color:#141414;
}


.AddBtnOrange {
background:#ff61ff;
border-bottom:2px solid #e94ce9;
border-left:0px;
border-right:0px;
border-top:0px;
font:normal 18px Arial, Helvetica, sans-serif;
color:#fff;
margin: 0 0 0 10px;
    padding: 10px 20px;
	cursor:pointer;
}


.OrangeBtn {
background:#ff61ff;
border-bottom:2px solid #e94ce9;
border-left:0px;
border-right:0px;
border-top:0px;
font:normal 18px Arial, Helvetica, sans-serif;
color:#fff;
margin: 0 0 0 0;
    padding: 10px 20px;
	cursor:pointer;
	text-transform:uppercase;
}


.GrayBtn {
background:#222433;
border-bottom:2px solid #10121b;
border-left:0px;
border-right:0px;
border-top:0px;
font:normal 18px Arial, Helvetica, sans-serif;
color:#fff;
margin: 0 0 0 15px;
padding: 10px 20px;
cursor:pointer;
text-transform:uppercase;
}


.AccSetBtnRow {
width:100%;
float:left;
padding:15px 0;
}

.DeleteIconFrm {
position: absolute;
right: 0;
top: 14px;
}

.AccTabMenuTop {
width:100%;
float:left;
list-style-type:none;
display:block;
border-bottom:1px solid #ccc;
padding:0 0 8px 0;
}
.AccTabMenuTop li{
float:left;
list-style-type:none;
display:block;
}

.AccTabMenuTop li.FloatRight {
float:right;
background: none repeat scroll 0 0 #ff61ff;
font:normal 18px Arial, Helvetica, sans-serif;
/*padding: 10px 20px;*/
cursor:pointer;
text-transform:uppercase;
}

.AccTabMenuTop li a{
padding:0 18px;
color:#444;
font:normal 16px Arial, Helvetica, sans-serif;
text-decoration:none;
line-height:46px;
}

.AccTabMenuTop li a:hover {
color:#ff61ff;
}

.TabAccConBox {
width:100%;
float:left;
padding:15px 0;
min-height:340px;
}

.AccListTab {
width:100%;
float:left;
}

.AccListTab table {
width:100%;
float:left;
border-left:1px solid #ccc;
border-top:1px solid #ccc;
}


.AccListTab table th {
padding:8px 10px;
border-right:1px solid #ccc;
border-bottom:1px solid #ccc;
font:bold 14px Arial, Helvetica, sans-serif;
color:#fff;
background:#222433;
text-align:center;
}
.AccListTab table td {
padding:8px 10px;
border-right:1px solid #ccc;
border-bottom:1px solid #ccc;
font:normal 13px Arial, Helvetica, sans-serif;
color:#000;
text-align:center;
}
.AccListTab table td p {
padding:3px 0;
margin:0;
font:normal 13px Arial, Helvetica, sans-serif;
color:#000;
text-align:center;
}

.AccListTab table td a {
padding:0 5px;
}

.AccListTab table tr.GrayBg {
background:#eee;
}

.AccSubNavLeAcc {
padding:0;
width:100%;
float:left;
list-style-type:none;
display:block;
}


.AccSubNavLeAcc li {
padding:0;
width:100%;
float:left;
list-style-type:none;
display:block;
}


.AccSubNavLeAcc li a  {
float:left;
font:normal 13px Arial, Helvetica, sans-serif;
color:#ccc;
text-decoration:none;
padding:8px 18px;
}
.AccSubNavLeAcc li a:hover {
color:#ff61ff;
}

.AccSubNavLePass {
padding:0;
width:100%;
float:left;
list-style-type:none;
display:block;
}


.AccSubNavLePass li {
padding:0;
width:100%;
float:left;
list-style-type:none;
display:block;
}


.AccSubNavLePass li a  {
float:left;
font:normal 13px Arial, Helvetica, sans-serif;
color:#ccc;
text-decoration:none;
padding:8px 18px;
}
.AccSubNavLePass li a:hover {
color:#ff61ff;
}

.AdTypeRedioFild label{
float:left;
margin:3px 15px 0 0;
}

.AdTypeRedioFild legend {
margin:0 0 15px 0;
}

.pagination {
 text-align: right;
 padding: 20px 0 5px 0;
 font-family: Verdana, Arial, Helvetica, sans-serif;
 font-size: 10px;
 margin-top:210px;
 clear:both;
 }
.pagination span a{
	padding: 3px 6px;
}
.pagination span {
 margin: 0 5px 0 0;
 padding: 3px 0px;
 }

 .pagination span  a{
 color: #57A000;
    text-decoration: none;
 }
 
.pagination span.number {
border: 1px solid #ddd;
 }

.pagination span.current {
 background: #469400 url('../img/admin/bg-button-pink.gif') top left repeat-x !important;
 border-color: #EA59EB !important;
 color: #fff !important;
 padding: 3px 6px;
 }

.pagination span.current:hover {
text-decoration: underline;
 }
 .AccListTab th a
 {
	color: #FFF;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.2s ease 0s;
 }
 
 .form_select{
	background-color: rgb(255, 255, 255); 
	vertical-align: middle; 
	border: 1px solid rgb(219, 219, 219); 
	margin-top: 20px; 
	height: 48px; 
	width: 300px; 
	padding: 10px 6px;
	/* height: 43px;
    padding-left: 1px;
    padding-right: 2px;
    padding-top: 1px;
    width: 335px; */
 }
 .form_select select{
	 border: 0 none;
    width: 285px;
 }
 
 .OlText{
	list-style-type:lower-numeric;
	font-size:12px;
	line-height:25px;
 }
 
 
 .PostAd {
/*background:#ff61ff;*/
background: none repeat scroll 0 0 #ff61ff;
font:normal 18px Arial, Helvetica, sans-serif;
color:#fff;
margin: 0 0 0 0;
cursor:pointer;
text-transform:uppercase;
}
.FloatRight  a{
color:#fff !important;
}

.error-message, .input-notification{
	font-size:14px;
	color:red;
}
#erroreducation, #errorexperience, #errorinterest{
	font-size:14px;
	color:red;
}
.extraImage{
	margin: -35px 45px 8px 0;
    text-align: center;
    width: 116px;
}
.AccSetBtnRow p.extraImage img {
	float:none;
	margin-bottom:0;
	margin-left:auto;
	margin-right:auto;
}
.AccSetBtnRow p.extraImage a img {
	padding:0;
	background:none;
	border:0px;
	border-radius:0;
	margin:0 15px 0 0;
}

.StaticPageMain{
    margin: 0 auto 100px;
    padding: 20px 0;
    position: relative;
    width: 750px;
}

.StaticPageContent{
	border:1px solid #DDDDDD;
	background-color:#FFF;
	margin: 10px 0 0 0;
    padding: 10px;
    position: relative;
    width: 740px;
	min-height:400px;
}

#LoderImg{
	display:none;
	position:absolute;
	text-align:center;
	z-index:10;
	width:73%;
}
#LoderImg img{
    margin-top: 30px;
    position: fixed;
}
.adMoreImagePic{
 background:#FF61FF;
 color:#fff;
 border-color: -moz-use-text-color -moz-use-text-color #E94CE9;
 border-style: none none solid; 
 border-width: 0 0 2px;
 cursor: pointer;
 font: 13px Arial,Helvetica,sans-serif;
 margin:0;
 padding: 5px 10px;
}
#extraimgup{
	width:100%;
	float:left;
}
div#extraimgup p:last-child{
	margin-right:0;
}
