<?php	echo $this->Form->create('TestWebService', 
				array('url' => array('controller' => 'web_services')));
?><p>

	<span style="width:150px;display:block;float:left;">FAX NUMBER:</span>
	<?php  echo ($this->Form->input('fax_number', array('div'=>false, 'label'=>false, 'type'=>'text', "class" => "")));?> This is registered test FAX number in our account in test mode.
	<br>
	<br>
	
	<span style="width:150px;display:block;float:left;">FILE:</span>
	<?php echo $this->Html->link("test.pdf", SITE_URL."/uploads/test.pdf",array('escape'=>false,"class"=>"test")); ?>
	<br>
	<br>
	
<?php  echo ($this->Form->submit('Submit', array('class' => 'button', "div"=>false)));?>
<?php
	echo ($this->Form->end());
?>
RESPONSE:
<br>
<?php  echo ($this->Form->input('response_data', array('div'=>false, 'value'=>$response_data, 'label'=>false, "class" => "ckeditor text-input  medium-input text-area", 'cols'=>'80', 'rows'=>'3')));?>
<br />
<a href="http://www.interfax.net/en/dev/webservice/reference/web-service-return-codes">
VIEW RESPONSE CODES
</a>