<?php /*?>
<?php	echo $this->Form->create('TestWebService', 
				array('url' => array('controller' => 'web_services', 'action' => 'read_doc', 'test', $request_action),
		));
?>
<p>
	Enter Request [In Json Formate]<br />
	<?php  echo ($this->Form->input('request', array('div'=>false, 'label'=>false, "class" => "ckeditor text-input  medium-input text-area", 'cols'=>'80', 'rows'=>'15')));?>
</p>
<?php  echo ($this->Form->submit('Submit', array('class' => 'button', "div"=>false)));?>
<?php
	echo ($this->Form->end());
?>
OR <?php echo $this->Html->link("Test Another Web Service", array('controller' => 'pages', 'action' => 'read_doc'), array('title' => 'Test Another Web Service'));
			?><br>
<?php  echo ($this->Form->input('response_data', array('div'=>false, 'value'=>$response_data, 'label'=>false, "class" => "ckeditor text-input  medium-input text-area", 'cols'=>'80', 'rows'=>'15')));?>
<?php */?>

<?php if($request_action=='upload_profile_image'){?>
	<form accept-charset="utf-8" method="post" enctype="multipart/form-data" action="/txtter_octal/web_services/read_doc/test/upload_profile_image">
	<input type="text" name="user_id" value="19" /><br><br>
	<input type="file" name="image" /><br><br>
	<input type="submit" name="Submit"  value="Submit" />
	</form>
<?php }elseif($request_action=='upload_user_images'){?>
	<form accept-charset="utf-8" method="post" enctype="multipart/form-data" action="/txtter_octal/web_services/read_doc/test/upload_user_images">
	user_id <input type="text" name="user_id" value="19" /><br><br>
	image_type <select name="image_type">
		<option value="0">DEFAULT IMAGE</option>
		<option value="1">PROFILE IMAGE</option>
		<option value="2">COVER IMAGE</option>
	</select>
	0=default Image/ 1 = profile image/ 2 = cover image
	<br><br>
	<input type="file" name="image" /><br><br>
	<input type="submit" name="Submit"  value="Submit" />
	</form>
<?php }elseif($request_action=='upload_user_cover_image'){?>
	<form accept-charset="utf-8" method="post" enctype="multipart/form-data" action="/txtter_octal/web_services/read_doc/test/upload_user_cover_image">
	<input type="text" name="user_id" value="18" /><br><br>
	<input type="file" name="image" /><br><br>
	<input type="submit" name="Submit"  value="Submit" />
	</form>
<?php }elseif($request_action=='upload_group_pic'){?>
	<form accept-charset="utf-8" method="post" enctype="multipart/form-data" action="/txtter_octal/web_services/read_doc/test/upload_group_pic">
	<input type="text" name="jid" value="18" /><br><br>
	<input type="file" name="image" /><br><br>
	<input type="submit" name="Submit"  value="Submit" />
	</form>
<?php }elseif($request_action=='upload_media_file'){?>
	<form accept-charset="utf-8" method="post" enctype="multipart/form-data" action="/txtter_octal/web_services/read_doc/test/upload_media_file">
	JID <input type="text" name="jid" value="9460327121@115.112.57.155" /><br><br>
	MESSAGE ID1<input type="text" name="message_id" value="" /><br><br>
	Media file<input type="file" name="media" /><br><br>
	Thumb file<input type="file" name="thumb" /><br><br>
	<input type="submit" name="Submit"  value="Submit" />
	</form>
<?php }else{?>
<?php	echo $this->Form->create('TestWebService', 
				array('url' => array('controller' => 'web_services', 'action' => 'read_doc', 'test', $request_action),
		));
?>
<p>
	Enter Request [In Json Formate]<br />
	<?php  echo ($this->Form->input('request', array('div'=>false, 'label'=>false, "class" => "ckeditor text-input  medium-input text-area", 'cols'=>'80', 'rows'=>'15')));?>
</p>
<?php  echo ($this->Form->submit('Submit', array('class' => 'button', "div"=>false)));?>
<?php
	echo ($this->Form->end());
?>
<?php }?>
OR <?php echo $this->Html->link("Test Another Web Service", array('controller' => 'pages', 'action' => 'read_doc'), array('title' => 'Test Another Web Service'));
			?><br>
<?php  echo ($this->Form->input('response_data', array('div'=>false, 'value'=>$response_data, 'label'=>false, "class" => "ckeditor text-input  medium-input text-area", 'cols'=>'80', 'rows'=>'15')));?>