<?php /*	echo $this->Form->create('TestWebService', 
				array('url' => array('controller' => 'web_services')));
?><p>
	Msisdn:<br>
	<?php  echo ($this->Form->input('msisdn', array('div'=>false, 'label'=>false, "class" => "")));?>
	<br>
	Access Type:<br>
	<?php  echo ($this->Form->input('type', array('div'=>false, 'label'=>false, "class" => "")));?><br>
</p>
<?php  echo ($this->Form->submit('Submit', array('class' => 'button', "div"=>false)));?>
<?php
	echo ($this->Form->end());
?>

RESPONSE:
<br>
<?php  echo ($this->Form->input('response_data', array('div'=>false, 'value'=>$response_data, 'label'=>false, "class" => "ckeditor text-input  medium-input text-area", 'cols'=>'80', 'rows'=>'15')));?>

<?php */?>
<form action="/topchat/web_services/subscribers" id="TestWebServiceSubscribersForm" method="post" accept-charset="utf-8"><div style="display:none;"><input type="hidden" name="_method" value="POST"/><input type="hidden" name="data[_Token][key]" value="5e2a4e68dd7acb47a2b696b7756c57fcef50e27f" id="Token572325591"/></div><p>

		Msisdn:<br>
	<input name="msisdn" class="" type="text" value="919928121212" id="TestWebServiceMsisdn"/>	<br>
	Access Type:<br>
	<input name="type" class="" type="text" value="PRTOPCHAT" id="TestWebServiceType"/><br>
</p>
<input  class="button" type="submit" value="Submit"/></form>
RESPONSE:
<br>
<textarea name="response_data" class="ckeditor text-input  medium-input text-area" cols="80" rows="15" id="response_data"><?php echo $response_data;?></textarea>