<form action="http://192.168.1.65/TBD/web_services/uploadmedia" enctype="multipart/form-data" method="post">
 
Image<input type="file" name="image"/> <br />
type<input type="text" name="type"/> <br />
audio<input type="file" name="audiofile"/> <br />
<!--user_name<input type="text" name="user_name"><br />
display_name<input type="text" name="display_name"><br />
email_id<input type="text" name="email_id"> <br />
Password_id<input type="text" name="password"><br />
phone_no<input type="text" name="phone_no"><br />
Gender<input type="text" name="gender"><br />
Dob<input type="text" name="dob"><br />
    -->
<input type="submit" value="submit"/>
</form>
<br/>
