<!DOCTYPE html>
<html>
    <head>
        <title>Txtter - Password reset</title>

        <!--<link href="https://fonts.googleapis.com/css?family=Lato:100" rel="stylesheet" type="text/css">-->
        <script src='//code.jquery.com/jquery-1.11.2.min.js'></script>
        
        <style>
            html, body {
                height: 100%;
            }

            body {
                margin: 0;
                padding: 0;
                width: 100%;
                display: table;
                font-weight: 100;
                font-family: 'Lato';
            }

            .container {
                text-align: center;
                display: table-cell;
                vertical-align: middle;
            }

            .content {
                text-align: center;
                display: inline-block;
            }

            .title {
                font-size: 96px;
            }
        </style>
    </head>
    <body>
        <div class="container">
            <div class="content">
                <div class="title">Txtter - Reset password</div>
            </div>
        </div>
        <!-- <script type="text/javascript">
                var token = '<?php echo $token; ?>';
                if("standalone" in window.navigator){
                    window.location.replace('Txtter://auth?token='+token);

                    setTimeout(function(){
                        var userAgent = navigator.userAgent || navigator.vendor || window.opera;
                        //alert(userAgent);
                        if( userAgent.match( /iPad/i ) || userAgent.match( /iPhone/i ) || userAgent.match( /iPod/i ) )
                        {
                            window.location.replace('http://www.apple.com/itunes/');
                        }
                        else if( userAgent.match( /Android/i ) )
                        {
                            window.location.replace('https://play.google.com/store/apps');
                        }else{
                            if(userAgent.match( /Macintosh/i )){
                                window.location.replace('http://www.apple.com/itunes/');
                            }else{
                                window.location.replace('https://play.google.com/store/apps');
                            }
                        }
                    }, 9000);

                }else{
                    var userAgent = navigator.userAgent || navigator.vendor || window.opera;
                    if( userAgent.match( /iPad/i ) || userAgent.match( /iPhone/i ) || userAgent.match( /iPod/i ) )
                    {
                        window.location.replace('http://www.apple.com/itunes/');
                    }
                    else if( userAgent.match( /Android/i ) )
                    {
                        window.location.replace('https://play.google.com/store/apps');
                    }else{
                        if(userAgent.match( /Macintosh/i )){
                            window.location.replace('http://www.apple.com/itunes/');
                        }else{
                            window.location.replace('https://play.google.com/store/apps');
                        }
                    }
                }
            </script> -->
    </body>
</html>
