<?php echo $pages['Page']['content']; ?>
<?php /*?>
<!-- Begin login -->
<section class="mt106">
    <div class="StaticPageMain">
        <h3><?php echo $pages['Page']['title']; ?></h3>
		<div class="right_container max_width StaticPageContent">

					<div class="clear"></div>					
					 <div class="expert_detail max_width exper_margin">
						<!-- <h2 class="col_brown"></h2>-->
						 <div class="clear"></div>
						 <div class="blog3_bottom">
						 <div class="que_n_ans">		        
							 <div class="qn_txt"><?php echo $pages['Page']['content']; ?></div>	        
						</div>	                        
						 </div>
					 </div>
		 </div>
	</div>
</section>
<?php */?>