<script type="text/javascript">
jQuery(document).ready(function() {
    /*form*/
    //jQuery("select, .check, .check :checkbox, input:radio, input:file").uniform();

});
</script>
<?php
//echo "<pre>";pr($sub_categories);die('octal');
if(!empty($sub_categories))
{
?>
	<label>&nbsp;</label>
	<?php  echo ($this->Form->input('UserAd.sub_category_id', array('id'=>'UserAdSubCategoryId','div'=>false, 'label'=>false, "class" => "form_select", "style" => "width:325px;margin-top:42px;",'empty'=>'-- Select Sub Category --','options'=>$sub_categories)));?> 
	<br/>
	<span id="errorSubCategory" style="color:red;font-size:13px;"></span>
<?php
}
else
{
?>
	<label>&nbsp;</label>
	<?php  echo ($this->Form->input('UserAd.sub_category_id', array('id'=>'UserAdSubCategoryId','div'=>false, 'label'=>false, "class" => "form_select", "style" => "width:325px;margin-top:42px;",'empty'=>'-- Not Found --','options'=>$sub_categories)));?>
	<br/>
	<span id="errorSubCategory" style="color:red;font-size:13px;"></span>	
<?php
}
?>
<?php
if (class_exists('JsHelper') && method_exists($this->Js, 'writeBuffer')) 
echo $this->Js->writeBuffer();
?>