<?php /*?>
<?php	echo $this->Form->create('TestWebService', 
				array('url' => array('controller' => 'web_services', 'action' => 'read_doc', 'test', $request_action),
		));
?>
<p>
	Enter Request [In Json Formate]<br />
	<?php  echo ($this->Form->input('request', array('div'=>false, 'label'=>false, "class" => "ckeditor text-input  medium-input text-area", 'cols'=>'80', 'rows'=>'15')));?>
</p>
<?php  echo ($this->Form->submit('Submit', array('class' => 'button', "div"=>false)));?>
<?php
	echo ($this->Form->end());
?>
OR <?php echo $this->Html->link("Test Another Web Service", array('controller' => 'pages', 'action' => 'read_doc'), array('title' => 'Test Another Web Service'));
			?><br>
<?php  echo ($this->Form->input('response_data', array('div'=>false, 'value'=>$response_data, 'label'=>false, "class" => "ckeditor text-input  medium-input text-area", 'cols'=>'80', 'rows'=>'15')));?>
<?php */?>

<?php if($request_action=='upload_profile_image'){?>
	<form accept-charset="utf-8" method="post" enctype="multipart/form-data" action="/topchat/web_services/read_doc/test/upload_profile_image">
	<input type="text" name="user_id" value="18" /><br><br>
	<input type="file" name="image" /><br><br>
	<input type="submit" name="Submit"  value="Submit" />
	</form>
<?php }else{?>
<?php	echo $this->Form->create('TestWebService', 
				array('url' => array('controller' => 'web_services', 'action' => 'read_doc', 'test', $request_action),
		));
?>
<p>
	Enter Request [In Json Formate]<br />
	<?php  echo ($this->Form->input('request', array('div'=>false, 'label'=>false, "class" => "ckeditor text-input  medium-input text-area", 'cols'=>'80', 'rows'=>'15')));?>
</p>
<?php  echo ($this->Form->submit('Submit', array('class' => 'button', "div"=>false)));?>
<?php
	echo ($this->Form->end());
?>
<?php }?>
OR <?php echo $this->Html->link("Test Another Web Service", array('controller' => 'test_web_services', 'action' => 'read_doc'), array('title' => 'Test Another Web Service'));
			?><br>
<?php  echo ($this->Form->input('response_data', array('div'=>false, 'value'=>$response_data, 'label'=>false, "class" => "ckeditor text-input  medium-input text-area", 'cols'=>'80', 'rows'=>'15')));?>